- content_for :head do
  -#= formtastic_stylesheet_link_tag
  -# There is a _services.sass file for the formstyles in app/stylesheets


#servicesForm
  %p
    = link_to "My studies", services_path
    &gt; 
    = @study.irb_number
  %h3 
    = "Please, answer the following questions for:"
    %span.studyname
      = @study.irb_number
      &mdash;
      = @study.name
    
  - semantic_form_for :medical_service, @medical_service do |f|
    -# github.com/justinfrench/formtastic
    = f.input :current_enrollment, :label => "How many participants are currently enrolled in this study?"
    = f.input :expected_enrollment, :label => "How many participants do you think you will enroll before the completion of the study?"
    = f.input :expected_clinical_services, :label => "How many participants do you think you will require clinical services as part of this study?"
    = f.input :uses_services_before_completed, :as => :radio, :label => "Will you use medical services, pharmacy, lab, pathology, imaging, hospitalization, outpatient services, or others before completing this study?"
    .dependent
      = f.input :expects_bedded_outpatients, :as => :radio, :label => "Does this study expect bedded OUTpatient services?"
      = f.input :expects_bedded_inpatients, :as => :radio, :label => "Does this study expect bedded INpatient services?"
      = f.input :bedded_inpatient_days_research, :label => "How many bedded inpatient days are covered by research?"
      = f.input :bedded_inpatient_days_standard_care, :label => "How many bedded inpatient days are standard of care?"
      = f.input :involves_pharmacy, :as => :radio, :label => "Does this study involve pharmacy?"
      = f.input :involves_labs_pathology, :as => :radio, :label => "Does this study involve lab/pathology?"
      = f.input :involves_imaging, :as => :radio, :label => "Does this study involve imaging?"
    
    %h4 Study contact for questions
    %p 
      Please enter a person/office to contact for further questions about the information you have provided in this form. Follow-up may be necessary.
      = f.input :contact_name, :label => "First and last name"
      = f.input :contact_email, :label => "E-mail"
      = f.input :contact_phone, :label => "Phone number"

  %h4 For service form help:
  = service_help_person.html_safe
