%p
  = link_to "My studies", services_path
  >
  = @study.irb_number
= link_to "(?)"
%h3= @study.irb_number
- semantic_form_for :service, @service_report do |f|
  -# github.com/justinfrench/formtastic
  = f.input :current_enrollment, :label => "How many participants are currently enrolled (not completed) in the study?"
  = f.input :expected_enrollment, :label => "How many additional participant will you enroll in the study in the next 12 months?"
  = f.input :expected_services, :label => "How many participants do you anticipate will require clinical services as part of the study during the next 12 months?"
  = f.input :requires_outpatient, :as => :radio, :label => "Does the study require bedded outpatient services?"
  = f.input :requires_inpatient, :as => :radio, :label => "Does the study require inpatient beds?"
  = f.input :inpatient_days_research, :label => "How many days are covered by research?"
  = f.input :inpatient_days_standard, :label => "How many days are standard of care?"
  = f.input :involves_pharmacy, :as => :radio, :label => "Does the study involve pharmacy?"
  = f.input :involves_labs, :as => :radio, :label => "Does the study involve lab/pathology?"
  = f.input :involves_imaging, :as => :radio, :label => "Does the study involve imaging?"
  
  %h4 Screening procedures
  %p For a typical participant in this study, select the service, the number of participants that will use each reimbursement method for that service, and the location the service will be performed.
  - semantic_fields_for :service_procedure, ServiceProcedure.new do |g|
    = g.input :name, :as => :select, :collection => %w(a b c d e f geee)
    = g.input :times, :as => :select, :collection => (1..100).to_a 
    = g.input :location, :as => :select, :collection => %w(NMFF RIC CMH NUCATS CRU Other)
    = g.input :bill_to, :as => :select, :colelction => %w(PI Insurance)

  %h4 On-study procedures
  %p For a typical participant in this study, select the service, the number of participants that will use each reimbursement method for that service, and the location the service will be performed.
  - semantic_fields_for :service_procedure, ServiceProcedure.new do |g|
    = g.input :name, :as => :select, :collection => %w(a b c d e f geee)
    = g.input :times, :as => :select, :collection => (1..100).to_a 
    = g.input :location, :as => :select, :collection => %w(NMFF RIC CMH NUCATS CRU Other)
    = g.input :bill_to, :as => :select, :colelction => %w(PI Insurance)
    
  %h4 Study contact for questions
  %p 
    Please enter a person/office to contact for further questions about the information you have provided in this form. Follow-up may be necessary.
    = f.input :contact_name, :label => "First and last name"
    = f.input :contact_email, :label => "E-mail"
    = f.input :contact_phone, :label => "Phone number"
  