#services_form
  #crumbs
    = link_to "My studies", services_path
    &gt; 
    = @study.irb_number
  %h3 
    For the Study:
    %span.study_name
      = @study.irb_number
      &mdash;
      = @study.name

  %h3 Please answer the questions below:
    
  - form_for @medical_service, :url => services_path + "/#{@study.irb_number}", :html => { :method => :put } do |f|
    = f.hidden_field :id
    = f.hidden_field :study_id
    %ul
      %li
        = f.label :current_enrollment, "How many participants are currently enrolled in this study?"
        = f.text_field :current_enrollment, :size => 5, :maxlength => 10
        (Current enrollment)
      %li 
        = f.label :expected_enrollment, "In the future, how many participants do you think you will enroll before the completion of the study?"
        = f.text_field :expected_enrollment, :size => 5, :maxlength => 10
        (Total enrollment at completion)
      %li
        = f.label :expected_clinical_services, "In the future, how many participants do you think you will require clinical services as part of this study?"
        = f.text_field :expected_clinical_services, :size => 5, :maxlength => 10
      %li
        = f.label :uses_services_before_completed, "Will you use medical services<sup>*</sup> before completing this study?".html_safe
        = f.radio_button :uses_services_before_completed, true, :checked => @medical_service.uses_services_before_completed == true
        = f.label :uses_services_before_completed_true, "Yes"
        = f.radio_button :uses_services_before_completed, false, :checked => @medical_service.uses_services_before_completed == false
        = f.label :uses_services_before_completed_false, "No"
        %em * NOTE: Medical Services are pharmacy, lab, pathology, imaging, hospitalization, outpatient services, or any other service.      
      %li#d1.dependent
        %ul
          %li
            = f.label :expects_bedded_outpatients, "Does this study expect bedded outpatient services?" 
            = f.radio_button :expects_bedded_outpatients, true, :checked => @medical_service.expects_bedded_outpatients == true
            = f.label :expects_bedded_outpatients_true, "Yes"
            = f.radio_button :expects_bedded_outpatients, false, :checked => @medical_service.expects_bedded_outpatients == false
            = f.label :expects_bedded_outpatients_false, "No"      
            %em 
              * NOTE: Bedded outpatients are patients requiring the use of a hospital bed for less than 24 hours. 
              %a{:id => "bedded_helper_link", :href => "#"} Click here for more information
          %li
            = f.label :expects_bedded_inpatients, "Does this study expect inpatient services?"
            = f.radio_button :expects_bedded_inpatients, true, :checked => @medical_service.expects_bedded_inpatients == true
            = f.label :expects_bedded_inpatients_true, "Yes"
            = f.radio_button :expects_bedded_inpatients, false, :checked => @medical_service.expects_bedded_inpatients == false
            = f.label :expects_bedded_inpatients_false, "No"   
            %em * NOTE: Inpatients are patients with a standard inpatient admit

          %li#d2.dependent
            %ul  
              %li
                = f.label :bedded_inpatient_days_research, "How many inpatient days are covered by research?"
                = f.text_field :bedded_inpatient_days_research, :size => 5, :maxlength => 10
              %li 
                = f.label :bedded_inpatient_days_standard_care, "How many inpatient days are covered by standard of care?"
                = f.text_field :bedded_inpatient_days_standard_care, :size => 5, :maxlength => 10
      %li 
        = f.label :involves_pharmacy, "Does this study involve pharmacy?"
        = f.radio_button :involves_pharmacy, true, :checked => @medical_service.involves_pharmacy == true
        = f.label :involves_pharmacy_true, "Yes"
        = f.radio_button :involves_pharmacy, false, :checked => @medical_service.involves_pharmacy == false
        = f.label :involves_pharmacy_false, "No" 
      %li
        = f.label :involves_labs_pathology, "Does this study involve labs/pathology?"
        = f.radio_button :involves_labs_pathology, true, :checked => @medical_service.involves_labs_pathology == true
        = f.label :involves_labs_pathology_true, "Yes"
        = f.radio_button :involves_labs_pathology, false, :checked => @medical_service.involves_labs_pathology == false
        = f.label :involves_labs_pathology_false, "No" 
      %li
        = f.label :involves_imaging, "Does this study involve imaging?"
        = f.radio_button :involves_imaging, true, :checked => @medical_service.involves_imaging == true
        = f.label :involves_imaging_true, "Yes"
        = f.radio_button :involves_imaging, false, :checked => @medical_service.involves_imaging == false
        = f.label :involves_imaging_false, "No" 

      %li
        Please enter a person/office to contact for further questions about the information you have provided in this survey.
        %br
        = f.label :contact_name, "Name of person/office"
        = f.text_field :contact_name, :size => 20 
        &nbsp;
        = f.label :contact_email, "Email"
        = f.text_field :contact_email, :size => 30
        &nbsp;
        = f.label :contact_phone, "Phone"
        = f.text_field :contact_phone, :size => 10
    
      %li.save
        = f.submit "Save Survey"
  
  #direct_link
    Shareable link to this survey:
    %br
    = link_to(edit_service_url(@study),edit_service_url(@study))

  .help
    For help with filling out this survey or questions:
    %br
    = service_help_person.html_safe

#bedded_description.overlay
  %h3 Bedded Outpatient Categories
  %table
    %tr
      %th Letter
      %th Category
      %th Definition
    %tr
      %td B
      %td Blood Transfusion
      %td The use of a nursing unit bed for blood transfusion.
    %tr
      %td C	
      %td Chemotherapy Infusion	
      %td The use of a nursing unit bed for routine recurrent chemotherapy drug infusions.
    %tr
      %td D	
      %td Non-Chemotherapy Infusion	
      %td The use of a nursing unit bed for routine recurrent non-chemotherapy drug infusions.
    %tr
      %td P	
      %td Procedure	
      %td The use of a nursing unit bed for pre or post procedure care of outpatient diagnostic procedures (i.e., GI Lab, IR).  The expected post-procedure length of stay is 6 hours or less.
    %tr
      %td R	
      %td Phase II Recovery	
      %td The use of a nursing unit bed for active monitoring following outpatient surgery and discharge from acute recovery room.  The total recovery time from end of surgery is generally expected to be 6 hours.
    %tr
      %td O	
      %td Outpatient Observation	
      %td The use of a nursing unit bed for the active monitoring and evaluation of a patient’s condition to determine the need for further treatment, possible inpatient admission or discharge. 
    %tr
      %td T	
      %td Telemetry Observation Patient	
      %td Outpatient Observation (see above) where telemetry services are required as part of the monitoring and evaluation.
    %tr
      %td N	
      %td Not meeting Medicare Coverage/Documentation Criteria	
      %td The use of a nursing unit bed for a patient that does not meet any of the payor guidelines yet the physician still requires the use of the bed even after considering alternatives.  This category is used by Case Management Staff only.
    %tr
      %td Z	
      %td Emergency Room patients holding in EDOU/OU for an Inpatient Bed  	
      %td Emergency room patients housed in the EDOU/OU waiting for an inpatient bed.  This is utilized in the Emergency Department only.
      
