%br
%h3
  Dear Clinical Research Investigator
%p
  Having an accurate account of all studies using clinical services and information about those services is
  critical for the university as well as our clinical partners. To identify those studies and build up the necessary 
  data to notify our clinical partners of research-related services in a timely and compliant manner, we ask that you
  please complete the accompanying form for each of your current studies. To reduce the burden on any one individual and
  streamline the process of answering the survey, you may delegate some or all of this activity by sharing the URLs for
  a study with your study personnel and/or financial staff. Filling out the form will require a valid Northwestern netid, 
  and the form can be saved at any point and reviewed or continued by anyone using the URL. The identity of each individual
  viewing and answering the form will be tracked, but please do safeguard the URL. No patient identifiers are requested as 
  part of the form.
%p
  Please note that the link to the study-specific form is NOT the URL of this page. A specific form looks like:
  <a href="#">https://enotis.northwestern.edu/services/STU00XXXXXX/edit</a>
  where STU00XXXXXX is the IRB study number for the study. You will be able to copy and share the link to the form page once you 
  have answered the following questions and clicked &quot;Submit Answers&quot;. 
  You will be able to copy the URL for each study form from the link list below. 
  All of your staff and co-investigators with access to your study can use the 
  <a href="https://enotis.northwestern.edu/services/">https://enotis.northwestern.edu/services/</a> link to find the study as well.
%h3 
  For each of your studies listed below answer the question:
  
#study_report_list
  - form_tag services_update_services_path, :id => "service_studies" do
    %fieldset
      %legend Does this study use medical services?&nbsp;<sup>*</sup>&nbsp; 

      %ul
        - @studies.each do |study|
          %li
            - @f_tag = "study[#{study.id}][uses_medical_services]"
            .radios
              = radio_button_tag @f_tag, "true", study.uses_medical_services == true
              = label_tag "#{@f_tag}_true", "Yes"
              = radio_button_tag @f_tag, "false", study.uses_medical_services == false
              = label_tag "#{@f_tag}_false", "No"
            .study_name
              = study.irb_number
              &mdash;
              = study.name
              .study_status
                = study.irb_status
                &nbsp;
                - if study.approved_date
                  = study.approved_date.strftime("%m/%d/%Y")
                - else
                  "??/??/????"
              &nbsp;
              %em.users_role
                Your Role:
                = study.user_roles(current_user.netid).map(&:project_role).join(",")
              &nbsp;
      %em * NOTE: Medical Services are pharmacy, lab, pathology, imaging, hospitalization, outpatient services, or any other service.      
      -if @not_reported_yet
        =submit_tag("Submit Answers")
      -else
        =submit_tag("Update Answers and Study List")

#reportable_studies
  = render(:partial => "reportable_studies", :locals => {:studies => @service_studies})
  %br
  %h3
    -if @done
      Thanks for finishing your study service forms! You are all done.
- unless @service_studies.empty?
  #shared_links
    Shareable form links:
    %br
    %em (You can copy and paste these links into an email)
    %br
    - @service_studies.each do |s|
      = link_to(edit_service_url(s),edit_service_url(s))
      %br


.help
  For help with this page or related questions:
  %br
  = service_help_person.html_safe

