- @javascripts = ["jquery-1.3.2.min" , "jquery-ui-1.7.2.min" ,"jrails","application","facebox"]
- @stylesheets = ["reset", "compiled/default", "facebox"]
- content_for :head do
  :javascript
    $(document).ready(function(){$("#study").tabs();});
#study
  .vitals
    %p.irb_number= @study.irb_number
    %p.status= @study.status
  .details
    .description
      %p= "Title: #{@study.title}"
      %p= "Short Title: #{@study.name}"
      %p= "Phase: #{@study.phase}"
      %p= "Research Type: #{@study.research_type}"
    .study_staff
      %p= "Princpal Investigator: #{@study.pi_last_name},#{@study.pi_first_name} (#{@study.pi_email})"
      %p= "Study Coordinator: #{@study.sc_last_name},#{@study.sc_first_name} (#{@study.sc_email})"
  %br.clear
  - if @study.has_coordinator?(current_user)
    %ul.study_tabs
      %li.nav= study_tab_to "Overview", "#overview"
      %li.nav= study_tab_to "Study Subjects", "#subjects"
      %li.nav= study_tab_to "Events", "#events"
      %li.nav= study_tab_to "Subject Imports", "#imports"
    #overview
      .column
        %img{:src => '/images/accrual.gif', :style => "margin: 0 1.5em 1em;"}
        
        #study-events
          .heading Accrual Events History
          %ul
            %li= "#{@study.coordinators.first.name}: 6 consented on #{1.days.ago.to_s(:short)}"
            %li= "#{@study.coordinators.first.name}: 1 consented on #{2.days.ago.to_s(:short)}" 
            %li= "#{@study.coordinators.first.name}: 3 consented on #{3.days.ago.to_s(:short)}"
      #staff_list.column
        .heading Staff list
        %ul
          - @study.coordinators.each do |c|        
            %li
              = "#{c.first_name} #{c.last_name}"
              %br

      %br.clear
    #subjects
      %h4 Subjects
      %strong
        = (@study.involvements || []).size
        subjects currently associated with this study
      %span.add_subjects
        -if @study.has_coordinator?(@current_user)
          = facebox_link_to("Add Subject", :url => new_involvement_event_path, :study_number => {:study_number => @study.id}, :method => :get)
      %ul
        - @study.subjects.each do |subject|
          %li
            = "#{subject.first_name} #{subject.last_name}"
    #events
      .heading Events
    #imports
      %h4 Imports
      %ul
        - @study.study_uploads.each do |u|
          %li
            = "by #{u.user.netid}"
            = link_to "Uploaded File", u.upload.url
            - if !u.result.nil?
              = link_to "Result", u.result.url
      - form_tag('/subjects', :multipart => true) do
        = hidden_field_tag("study_id",@study.id.to_s)
        = label_tag('attachment','Upload New Patient File:')
        %br
        = file_field_tag(:file)
        %br
        = submit_tag( "Upload" )
 
  -#study_full
    %ul.menu
      %li.active
        %a
          General Info
      %li.inactive
        %a
          Study Events
      %li.inactive
        = link_to("Subjects",:controller=> "subjects" , :action =>"index", :irb_number => study.irb_number )
      %li.inactive
        %a
          Subject Events
      %li.inactive
        %a.gray
          Budgeting

    .header_details
      .primary_data
        .status_icon.approved
          Approved
          %small.gray
            mm/dd/yyyy
        .study_id="##{study.irb_number}"
      .secondary_data
        .name
          %em
            Name:
          = study.name  || "Missing"
        .phase
          %em
            Phase:
          = study.phase || "Missing"
        .title
          %em
            Title:
          = study.title || "Missing"
        .pi
          %em
            PI:
          Investigator, Principal
        .coord
          %em
            Study Coord:
          Coordinator, Study
        .others
          %em
            Staff:
          - study.coordinators.each do |c|        
            = "#{c.first_name} #{c.last_name}"
      .tertiary_data
        .description
          %em
            Description:
          = study.description || "Missing"

    - if study.has_coordinator? current_user
      .subject_details
        %strong
          Subjects
        %ul
          - study.subjects.each do |subject|
            %li
              = "#{subject.first_name} #{subject.last_name}"
      .file_details
        %strong
          Study Documents
        %ul
          %li.study_file
            =image_tag("study_icon.gif")
            %em 
              Study Document
              =link_to("(view)")
              &nbsp;
              =link_to("(download)")
          %li.study_file
            =image_tag("consent_icon.gif")
            %em
              Standard Consent
              =link_to("(view)")
              &nbsp;
              =link_to("(download)")
          %li.study_file
            =image_tag("consent_icon.gif")
            %em
              Standard Assent
              =link_to("(view)")
              &nbsp;
              =link_to("(download)")
          %li.study_file
            =image_tag("consent_icon.gif")
            %em
              Health Volunteer Consent
              =link_to("(view)")
              &nbsp;
              =link_to("(download)")
      .status_history
        %strong
          Status History:
        %ul
          %li.status_event.approved
            =image_tag("info_24.gif")
            Approved on mm/dd/yyyy
          %li.status_event.renewed
            =image_tag("info_24.gif")
            Renewed on mm/dd/yyyy
          %li.status_event.registered
            =image_tag("info_24.gif")
            Registered Subject on mm/dd/yyyy
          %li.status_event.registered
            =image_tag("info_24.gif")
            Registered Subject  on mm/dd/yyyy
          %li.status_event.adverse
            =image_tag("info_24.gif")
            Adverse Event on mm/dd/yyyy
          %li.status_event.reviewed
            =image_tag("info_24.gif")
            Reviewed on mm/dd/yyyy
