- content_for :head do
  :javascript
    $(document).ready(function(){$("#study").tabs(); $(".display").dataTable();});
#study
  .vitals
    %p.irb_number= @study.irb_number
    %p.status= @study.status
  .details
    .description
      %p= "Title: #{@study.title}"
      %p= "Short Title: #{@study.name}"
      %p= "Phase: #{@study.phase}"
      %p= "Research Type: #{@study.research_type}"
    .study_staff
      %p= "Princpal Investigator: #{@study.pi_last_name},#{@study.pi_first_name} (#{@study.pi_email})"
      %p= "Study Coordinator: #{@study.sc_last_name},#{@study.sc_first_name} (#{@study.sc_email})"
  %br.clear
  - if @study.has_coordinator?(current_user)
    %ul.study_tabs
      %li.nav= study_tab_to "Overview", "#overview"
      %li.nav= study_tab_to "Study Subjects", "#subjects"
      %li.nav= study_tab_to "Events", "#events"
      %li.nav= study_tab_to "Subject Imports", "#imports"
    #overview
      .column
        %img{:src => '/images/accrual.gif', :style => "margin: 0 1.5em 1em;"}
        
        #study-events
          .heading Accrual Events History
          %ul
            %li= "#{@study.coordinators.first.name}: 6 consented on #{1.days.ago.to_s(:short)}"
            %li= "#{@study.coordinators.first.name}: 1 consented on #{2.days.ago.to_s(:short)}" 
            %li= "#{@study.coordinators.first.name}: 3 consented on #{3.days.ago.to_s(:short)}"
      #staff_list.column
        .heading Staff list
        %ul
          - @study.coordinators.each do |c|        
            %li
              = "#{c.first_name} #{c.last_name}"
              %br

      %br.clear
    #subjects
      = (@study.involvements || []).size
      subjects currently associated with this study
      -if @study.has_coordinator?(@current_user)
        = facebox_link_to("+ Add Subject", :url => new_involvement_event_path, :method => :get)
      %table.display
        %thead
          %th Name
          %th 
          %th
        %tbody  
          - @study.subjects.each do |subject|
            %tr
              %td= render :partial => 'partials/subject', :object => subject
              %td= subject.synced? ? "Subject Synced" : facebox_link_to("Sync", :url => search_subjects_url(:id=>subject.id) , :method => :get)
              %td= facebox_link_to("Add Event", :url => new_involvement_event_path(:subject_id=>subject.id) , :method => :get)
    #events
      %h4 Events
      %table.display
        %thead
          %th Name
          %th Event
          %th Event Description
          %th Event Date
        %tbody
          - @study.involvements.each do |involvement|
            -involvement.involvement_events.each do |event|
              %tr
                %td= [involvement.subject.last_name,involvement.subject.first_name].join(',')
                %td= event.event_type_id
                %td= event.note
                %td= event.occured_at
    #imports
      %h4 Imports
      - form_tag('/subjects', :multipart => true) do
        = hidden_field_tag("study_id",@study.irb_number.to_s)
        %br
        = file_field_tag(:file)
        = submit_tag( "Upload" )
        %br
        %Hr
      %table.display
        %thead
          %th Importer
          %th Upload Date
          %th Original
          %th Result
          %th Status
        %tbody
          - @study.study_uploads.each do |u|
            %tr
              %td= u.user.netid
              %td= u.created_at
              %td= link_to "View", u.upload.url
              %td= link_to "View", u.result.url
              %td= u.summary || "Still Processing"
