- @javascripts = ["jQuery" , "jquery-ui" ,"jrails","application","facebox"]
- @stylesheets = ["reset", "default", "facebox"]

#study
  .vitals
    %h2= @study.irb_number
    = @study.status
  .description
    %p= "Title: #{@study.title}"
    %p= "Phase: #{@study.phase}"

- if @study.has_coordinator?(current_user)
  %ul.study_tabs
    %li.nav= study_tab_to "Overview", study_path(@study)
    %li.nav= study_tab_to "Study Subjects"
    %li.nav= study_tab_to "Documents"
    %li.nav= study_tab_to "Events"
    %li.nav= study_tab_to "Subject Imports"

  #subjects
    %h4 Subjects
    %strong
      = (@study.involvements || []).size
      subjects currently associated with this study
    %span.add_subjects
      -if @study.has_coordinator?(@current_user)
        = facebox_link_to("Add Subject", :url => new_involvement_event_path, :study_number => {:study_number => @study.id}, :method => :get)
    %ul
      - @study.subjects.each do |subject|
        %li
          = "#{subject.first_name} #{subject.last_name}"
          
  #staff_list
    %h4 Staff list
    - @study.coordinators.each do |c|        
      = "#{c.first_name} #{c.last_name}"

  %ul#documents
    %h4 Documents
    %li
      "Download"
      = link_to "Rapid Consent", "#"
    -# @study.documents.each do |d|
      %li
        "Download"
        = link_to d.title, d.url
        
  %ul#imports
    %h4 Imports
    - @study.study_uploads.each do |u|
      %li
        = "by #{u.user.netid}"
        
  -#study_full
    %ul.menu
      %li.active
        %a
          General Info
      %li.inactive
        %a
          Study Events
      %li.inactive
        = link_to("Subjects",:controller=> "subjects" , :action =>"index", :irb_number => study.irb_number )
      %li.inactive
        %a
          Subject Events
      %li.inactive
        %a.gray
          Budgeting

    .header_details
      .primary_data
        .status_icon.approved
          Approved
          %small.gray
            mm/dd/yyyy
        .study_id="##{study.irb_number}"
      .secondary_data
        .name
          %em
            Name:
          = study.name  || "Missing"
        .phase
          %em
            Phase:
          = study.phase || "Missing"
        .title
          %em
            Title:
          = study.title || "Missing"
        .pi
          %em
            PI:
          Investigator, Principal
        .coord
          %em
            Study Coord:
          Coordinator, Study
        .others
          %em
            Staff:
          - study.coordinators.each do |c|        
            = "#{c.first_name} #{c.last_name}"
      .tertiary_data
        .description
          %em
            Description:
          = study.description || "Missing"

    - if study.has_coordinator? current_user
      .subject_details
        %strong
          Subjects
        %ul
          - study.subjects.each do |subject|
            %li
              = "#{subject.first_name} #{subject.last_name}"
      .file_details
        %strong
          Study Documents
        %ul
          %li.study_file
            =image_tag("study_icon.gif")
            %em 
              Study Document
              =link_to("(view)")
              &nbsp;
              =link_to("(download)")
          %li.study_file
            =image_tag("consent_icon.gif")
            %em
              Standard Consent
              =link_to("(view)")
              &nbsp;
              =link_to("(download)")
          %li.study_file
            =image_tag("consent_icon.gif")
            %em
              Standard Assent
              =link_to("(view)")
              &nbsp;
              =link_to("(download)")
          %li.study_file
            =image_tag("consent_icon.gif")
            %em
              Health Volunteer Consent
              =link_to("(view)")
              &nbsp;
              =link_to("(download)")
      .status_history
        %strong
          Status History:
        %ul
          %li.status_event.approved
            =image_tag("info_24.gif")
            Approved on mm/dd/yyyy
          %li.status_event.renewed
            =image_tag("info_24.gif")
            Renewed on mm/dd/yyyy
          %li.status_event.registered
            =image_tag("info_24.gif")
            Registered Subject on mm/dd/yyyy
          %li.status_event.registered
            =image_tag("info_24.gif")
            Registered Subject  on mm/dd/yyyy
          %li.status_event.adverse
            =image_tag("info_24.gif")
            Adverse Event on mm/dd/yyyy
          %li.status_event.reviewed
            =image_tag("info_24.gif")
            Reviewed on mm/dd/yyyy
