.loginbox
  -form_tag(login_authentication_path, :method => 'post') do
    %label{:for => 'netid'} NetID
    = text_field_tag('netid')
    %label{:for => 'password'} Password
    = password_field_tag('password')
    = submit_tag('login')
    %p= link_to "I cannot access my account", access_help_authentication_path
.enotis_description
  eNOTIS is the subject registration system for all IRB approved clinical research at Northwestern University
.system_status{:class => @status}
  .heading System status
  %p= ApplicationController::SYSTEM_STATUSES[@status.to_sym]
.training
  .heading Get acquainted with eNOTIS
  .video Learn basic concepts and log in
  .video Add a subject
  .video Import subjects
  .video Add subject events


