!!! XML
!!!
%html
  %head
    %title= "eNotis :: #{@title}"
    =stylesheet_link_tag @stylesheets || ["reset", "compiled/default"]
    =javascript_include_tag @javascripts || []
    =yield :head
  %body

    #enotis_header
      %h1.app_name
        %img{:src => '/images/enotis.png', :alt => 'eNOTIS'} 
      -#.tagline
        Clinical Subject Registration made eASY
      .current_user
        = "#{current_user.name} (#{current_user.netid})"
        |
        = link_to('Logout', logout_authentication_path)
      %ul.bridge-nav
        %li.nav= nav_link_to "Dashboard", dashboard_path, UsersController
        %li.nav= nav_link_to "All Studies", studies_path, StudiesController
        %li.nav= nav_link_to "My Subjects", subjects_path, SubjectsController
        %li.nav= nav_link_to "My Events", involvement_events_path, InvolvementEventsController
        %li.nav
          = nav_link_to "Search", search_path, SearchController
          -form_tag(search_path, :method => :get) do 
            =text_field_tag("query")
            =submit_tag("Search")
      %br.clear

    - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
      #flash
        = flash_messages(types)
          
    #main
      =yield
      %br.clear

    #footer
      = image_tag("nu_pageheader.jpg")
      %p
        eNOTIS &mdash; Clinical Subject Registration 
        =app_version_helper
        Created by&nbsp; 
        =link_to("NUBIC")
        &nbsp;for Northwestern University
