!!! XML
!!!
%html
  %head
    %title= "eNotis :: #{@title}"
    =stylesheet_link_tag @stylesheets || ["reset", "default"]
    =javascript_include_tag @javascripts || []
  %body
    - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
      #flash
        = flash_messages(types)
    #enotis_header
      %h1.app_name
        %img{:src => '/images/enotis.png', :alt => 'eNOTIS'} 
      .tagline
        Clinical Subject Registration made eASY
      %ul.bridge-nav
        %li.nav= nav_link_to "Dashboard", registrations_path, RegistrationsController
        %li.nav= nav_link_to "All Studies", studies_path, StudiesController
        %li.nav= nav_link_to "My Subjects", subjects_path, SubjectsController
        %li.nav= nav_link_to "My Events"
        %li.nav
          = nav_link_to "Search", search_studies_path
          -form_tag(search_studies_path, :method => :get) do 
            =text_field_tag("study_id")
            =submit_tag("Find study")
    #main
      =yield
    .clear
      &nbsp;
    #footer
      = image_tag("nu_pageheader.jpg")
      %br
      eNOTIS &mdash; Clinical Subject Registration 
      =app_version_helper
      Created by&nbsp; 
      =link_to("NUBIC")
      &nbsp;for Northwestern University
