- @javascripts = ["jQuery" , "jquery-ui" ,"jrails","application","facebox"]
- @stylesheets = ["reset", "compiled/default", "facebox"]

#subject_list
  - if @involvements.nil?
    .heading
      You are not authorized to see subjects on this study
  - else
    .heading
      = "The following subjects are currently associated with #{@study ? 'this study' : 'your studies'}"
    %ul 
      - @involvements.each do |i|
        %li
          = facebox_link_to("#{i.subject.first_name} #{i.subject.last_name}", :url => subject_url(i.subject) , :method=>:get)




