.col2
  %p.q When will we need to use eNOTIS?
  %p.a= "Studies using NMFF and NMH medical services, regardless of IRB approval date, are required to enter accrual data in eNOTIS (see #{link 'memo', '/policy.html'}). This includes historical data on subjects who already completed their portion of the study. eNOTIS has the ability to import existing subject lists in #{link 'csv format', 'http://en.wikipedia.org/wiki/Comma-separated_values'}."

  %p.q What data will we need to enter?
  %p.a You must enter: first name, last name, date of birth, NIH race and ethnicity, gender, consent and completion dates. Study information will come from the eIRB and will not require double entry.
  
  %p.q Is eNOTIS IRB approved? Will consent language need to be updated?
  %p.a= "eNOTIS is IRB approved; all studies may begin using it without updating the current consent forms. The language that covers eNOTIS is part of #{link 'the IRB consent template', 'http://www.research.northwestern.edu/OPRS/irb/templates/#informed-consent'}. The consent form must be updated to include the language covering eNOTIS during the next consent form revision or continuing review. eNOTIS is a secure and centrally managed resource for tracking clinical research participants and associated research data."

  %p.q What HIPAA or other security issues are raised by use of eNOTIS?
  %p.a All subject searches are logged. All eNOTIS users have CITI training, as validated by the IRB. The use of eNOTIS does not raise any additional security or HIPAA-related issues.

.col2

  %p.q Who will be able to accrue and view the subjects accrued on a study?
  %p.a Only the IRB authorized PI, co-investigators and coordinators will be able to view the identity of subjects accrued on a study. Any additional roles and responsibilities should be clarified with the IRB and added to the authorized personnel list in eIRB.

  %p.q What information will eNOTIS show about subjects and other studies?
  %p.a Each subject is represented once in eNOTIS. Users who have accrued a subject will be able to view a list of other studies a subject is accrued on. Access to this list is tracked and audited.

  %p.q When will eNOTIS reflect new and terminated personnel, as authorized personnel list revisions take time in eIRB?
  %p.a The IRB is committed to providing expedited review and implementation of faculty and staff changes for any IRB study. The University has immediate termination of access procedures in place, including netID cutoffs synchronized with physical notification in cases of employee termination. All access to eNOTIS requires a valid NU netID.

  %p.q What HIPAA or other security issues are raised by use of eNOTIS?
  %p.a All subject identity searches in eNOTIS are logged. All eNOTIS users have CITI training, as validated by the IRB. We do not anticipate any additional security or HIPAA-related issues.

  %p.q What is the Study Participant Research Voucher (SPRV)?
  %p.a= "#{link 'A form', '/media/SPRV_ver20110719.xlsx'} that must be submitted when a research participant receives medical services at NMH or NMFF. The form must be password-protected and e-mailed or faxed by close of business the following day. For assistance, e-mail #{link 'SPRVsupport@northwestern.edu', 'mailto:SPRVsupport@northwestern.edu'}"
  
  %p.q Does the SPRV need to be encrypted with a password?
  %p.a= "Yes. Log in and click \"#{link 'Help, SPRV, and FAQ', '/help'}\" for encryption instructions."

  