- content_for :head do
  :javascript
    $(document).ready(function(){$("#study_results .display").dataTable({"aoColumns": [{ "sType": "html" }, null, null, null]}); $("#subject_results .display").dataTable({"aoColumns": [{ "sType": "html" }]}); });
          
#results
  - if @studies
    #study_results
      .heading= "#{pluralize(@studies.size, "study")} found"
      = render :partial => 'partials/study_table', :locals => {:studies => @studies}
  - if @subjects
    #subject_results
      .heading= "#{pluralize(@subjects.size, "subject")} found"
      %table.display
        %thead
          %tr
            %th Name
        %tbody
          - @subjects.each do |subject|
            %tr
              %td= link_to(subject.name || "(no name)", study_path(subject.involvements.first.study))
