#results
  - if @studies
    #study_results
      .heading= %Q{#{pluralize(@studies.total_entries, "study")} found for "#{params[:query]}" }
      = render :partial => 'partials/study_table', :locals => {:studies => @studies}
  - if @subjects
    #subject_results
      .heading= "#{pluralize(@subjects.total_entries, "subject")} found"
      %table.subject_display
        %thead
          %tr
            %th Name
        %tbody
          - @subjects.each do |subject|
            %tr
              %td= link_to(subject.name || "(no name)", study_path(subject.involvements.first.study))