<h3><%= @protocol.name%></h3>
<p><strong> Description: </strong><%= @protocol.description%></p>

<strong>Patients: </strong> <br>
<% if @involvements.nil? or @involvements.size < 1 %>
There are currently no Patients Associated with this protocol</br>

<%else %>
<% @involvements.each do |involvement| %>
<%= involvement.patient.first_name%>  
<%= involvement.patient.last_name %>
<br/>
<%end%>
<%end%>
<%= facebox_link_to "Add Patient", :url => new_registration_url,:study_number => {:study_number => @protocol.study_id}, :method=>:get%>
