- @view_javascripts = ["facebox", "jquery.dataTables.min"]
- @view_stylesheets = ["facebox", "compiled/datatables"]

- content_for :head do
  :javascript
    $(document).ready(function(){$(".display").dataTable();});

#my_events
  .heading My Events
  %table.display
    %thead
      %th Study ID
      %th Subject Name
      %th Event Description
      %th Event Date/Time
    %tbody  
      - @events.each do |e|
        %tr
          %td= link_to e.involvement.study.irb_number, study_path(e.involvement.study) || "(no id)"
          %td= facebox_link_to(e.involvement.subject.name, :url => subject_url(e.involvement.subject) , :method=>:get)
          %td= e.description
          %td= "#{time_ago_in_words(e.created_at)} ago"
