- @stylesheets = %w(reset compiled/default compiled/datatables)
- @javascripts = %w(jquery-1.3.2.min jquery.dataTables.min)
- content_for :head do
  :javascript
    $(document).ready(function(){$(".display").dataTable();});

#my-events
  .heading My Events
  %table.display
    %thead
      %th Study ID
      %th Subject Name
      %th Event Description
      %th Event Date/Time
    %tbody  
      - @events.each do |e|
        %tr
          %td= e.involvement.study.irb_number
          %td= e.involvement.subject.name
          %td= e.description
          %td= "#{time_ago_in_words(e.created_at)} ago"