- content_for :head do
  %script{:type => 'text/javascript'}
    $(document).ready(function(){
    // show the Data Tables
    $(".display").dataTable({"sPaginationType": "full_numbers"});
    $("img.hub").fadeIn(10000);
    });
#users
  = pluralize @users.size, "user"
  %table.display
    %thead
      %tr
        %th Name
        %th Netid
        %th Studies
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.netid
          %td= user.studies.map{|study| link_to(study.irb_number, study_path(study), :title => study.title)}.join(", ")
#dictionary_terms
  = pluralize @dictionary_terms.size, "dictionary term"
  %table.display
    %thead
      %tr
        %th Category
        %th Term
        %th Code
    %tbody
      - @dictionary_terms.each do |term|
        %tr
          %td= term.category
          %td 
            %dfn{:title => term.description}= term.term
          %td= term.code

%img{:class => 'hub', :src => '/images/hub.jpg', :style => "display:none;"}
   
