- @title = "Admin Hub"
#netid_lookup
  %span.heading Find user by netID
  %p
    = text_field_tag "netid"
    = link_to "look up", "#", :rel => "#roles"

#pi_report
  %span.heading Export PI Study Report
  - form_tag :pi_report, :method => :get do
    = label_tag :year, "Year"
    = select_tag :year, options_for_select((2010..Date.today.year).to_a)
    = submit_tag "Export PI Study Report"

#recent_handers
  %span.heading= pluralize(@recent_handers.size, 'active user') + " in the last #{@days_ago} days"
  %table.display
    %thead
      %tr
        %th Last activity
        %th netID
        - %w(create update upload).each do |action|
          %th= action
    %tbody
      - @recent_handers.each_pair do |netid, activities|
        %tr
          %td
            %span{:title => activities.sort_by(&:created_at).last.created_at.to_s(:db)}
              = time_ago_in_words(activities.sort_by(&:created_at).last.created_at)
              ago
          %td= link_to netid, role_path(netid), :rel => '#roles'
          - %w(create update upload).each do |action|
            %td= activities.select{|a| a.action == action}.size

#deadbeats
  %span.heading= pluralize(@deadbeats.size, 'passive user')
  %table.display
    %thead
      %tr
        %th Last activity
        %th netID
        - %w(add edit import search).each do |action|
          %th= action
    %tbody
      - @deadbeats.each_pair do |netid, activities|
        %tr
          %td
            %span{:title => activities.sort_by(&:created_at).last.created_at.to_s(:db)}
              = time_ago_in_words(activities.sort_by(&:created_at).last.created_at)
              ago
          %td= link_to netid, role_path(netid), :rel => '#roles'
          - %w(add edit import search).each do |action|
            %td= activities.select{|a| a.action == action}.size

#recent_uploads
  %span.heading= pluralize(@recent_uploads.size, 'upload') + " in the last #{@days_ago} days"
  %table.display
    %thead
      %tr
        %th Uploaded
        %th By
        %th Study
        %th Original
        %th Result
        %th Status
    %tbody
      - @recent_uploads.each do |u|
        %tr
          %td
            %span{:title => u.created_at.to_s(:db)}
              = time_ago_in_words(u.created_at)
              ago
          %td= link_to u.netid, role_path(u.netid), :rel => '#roles'
          %td= link_to u.study.irb_number, study_path(u.study)
          %td= link_to "Original", u.upload.url
          %td= link_to("Result", u.result.url) unless u.result_file_name.nil?
          %td= u.summary

#roles.overlay
  .wrap