- @title = "Admin Hub"
- content_for :head do
  %script{:type => 'text/javascript'}
    $(document).ready(function(){
    // show the Data Tables
    $("#active_users .display").dataTable({"sPaginationType": "full_numbers"});
    $("#active_studies .display").dataTable({"sPaginationType": "full_numbers"});
    // easter egg
    $("img.hub").fadeIn(10000);
    // flash messages
    $("#flash .close").click(function(){$("#flash").fadeOut(300); return false;});
    });
#active_users
  %span.heading= pluralize @active_users.size, "active user"
  %table.display
    %thead
      %tr
        - %w(name netid new create edit update import upload search last\ active).each do |header|
          %th= header
    %tbody
      - @active_users.each do |user, activities|
        %tr
          %td= mail_to user.email, user.name
          %td= user.netid
          - %w(involvements new involvements create involvements edit involvements update studies import involvements upload search show).each_slice(2) do |controller, action|
            %td= activities.count{|a| a.controller == controller && a.action == action}
          %td= "#{activities.first.created_at.to_date.to_s(:db)} | #{time_ago_in_words(activities.first.created_at)} ago"
          
#active_studies
  %span.heading= pluralize @active_studies.size, "active studies"
  %table.display
    %thead
      %tr
        %th irb number
        %th accrual
        %th names
        %th netids
        %th last accrual
    %tbody
      - @active_studies.each do |study, involvements|
        - users = @active_users.select{|user, activities| activities.any?{|a| a.action != "show" && a.params.to_s =~ /#{study.irb_number}/ }}.map(&:first).uniq
        %tr
          %td= link_to study.irb_number, study_path(study)
          %td= involvements.size
          %td= users.map{|u| mail_to u.email, u.name}.join(", ")
          %td= users.map(&:netid).join(", ")
          %td= "#{involvements.first.updated_at.to_date.to_s(:db)} | #{time_ago_in_words(involvements.first.updated_at)} ago"

%img{:class => 'hub', :src => '/images/hub.jpg', :style => "display:none;"}

   
