- @layout = "application"
%ul.tabs
  %li= link_to "About", "#about"
  %li= link_to "Training", "#training"
  %li= link_to "FAQ", "#questions"
.panes
  .items
    #about.item
      %h2
        eNOTIS is the subject registration system for all IRB-approved
        %br
        clinical research at Northwestern University
      .col
        %h3 Measure
        = img 'measure-dates.jpg'
        %h4 Developed in collaboration with the clinical research community
        %h4 Add subjects to your study and track key clinical events: consent, withdrawal, completion
        %h3 5,243 studies (and counting)
      .col
        %h3 See
        = img 'see-race.jpg'
        %h4 Visualize accrual for all your studies in one place
        %h4 Print or export your enrollment for reports
        %h4 eNOTIS meets recent FDA guidelines on electronic reporting and addresses a mandate that accrual information be tracked, validated and reported periodically to clinicaltrials.gov
      .col
        %h3 Improve
        = img 'improve-accruals.jpg'
        %h4 Make informed decisions about your research 
        %h4 Ensure subject safety by verifying their participation in other trials 
        %h4 Spend less time entering and tracking data by hand: studies are pre-loaded from eIRB and subject identity verified via NU Enterprise Data Warehouse (EDW)

    #training.item
      .col3
        %h2 Watch our 4 minute introduction to eNOTIS
        %a{:href => "/media/enotis-tutorial-a.mov", :style => "display:block;width:550px;height:386px;", :id => "player"}
        -# = img 'coordinator_workflow.jpg'
      .colx
        %h3
          Need support?
          %br
          = link 'enotissupport@northwestern.edu', 'mailto:enotissupport@northwestern.edu'
        %h3
          Interested in a demo or training?
          %br
          = link 'enotis@northwestern.edu', 'mailto:enotis@northwestern.edu'
    #questions.item
      = partial 'faq'
#database-language.overlay
  %h3 IRB consent template language, "Database" section
  %p We are committed to respecting your privacy and keeping your personal identifiable information confidential. When choosing to take part in this study, you are giving us permission to add your identifiable information to databases and registries that may be accessed by other researchers and administrators at Northwestern University. Identifiable information includes your name, address, date of birth, phone number, medical record number, and social security number. Your information may then be used to track your participation in all research at Northwestern University. Also, your information without identifiers may be used to create reports for quality control purposes and may be sent to government databases such as ClinicalTrials.gov, a database that contains information on research that is conducted in the United States and around the world.