%ul.tabs
  %li= link_to "About", "#about"
  %li= link_to "Training", "#training"
  %li= link_to "Questions", "#questions"
.panes
  .items
    #about.item
      %h2
        eNOTIS is the subject registration system for all IRB-approved
        %br
        clinical research at Northwestern University
      .col
        %h3 Measure
        = img 'static/measure.jpg'
        %h4 Developed in collaboration with the clinical research community
        %h4 Add subjects to your study and track key clinical events: consent, withdrawal, completion
        %h3 5,243 studies (and counting)
      .col
        %h3 See
        = img 'static/see.jpg'
        %h4 Visualize accrual for all your studies in one place
        %h4 Print or export your enrollment for reports
        %h4 eNOTIS meets recent FDA guidelines on electronic reporting and addresses a mandate that accrual information be tracked, validated and reported periodically to clinicaltrials.gov
      .col
        %h3 Improve
        = img 'static/improve.jpg'
        %h4 Make informed decisions about your research 
        %h4 Ensure subject safety by verifying their participation in other trials 
        %h4 Spend less time entering and tracking data by hand: studies are pre-loaded from eIRB and subject identity verified via NU Enterprise Data Warehouse (EDW)

    #training.item
      %h2 eNOTIS supports two methods of tracking subject accrual
      = img 'static/coordinator_workflow.jpg'
      %h3
        Send your support requests to:
        %br
        = link 'enotis-support@northwestern.edu', 'mailto:enotis-support@northwestern.edu'
    #questions.item
      = partial 'faq'