- content_for :head do
  :javascript
    $(document).ready(function(){$('.display').dataTable({"aoColumns": [{ "sType": "html" }, { "sType": "html" }, null, null], "sPaginationType": "full_numbers"});});

#my_events
  .heading My Events
  - if @events.empty?
    = render :partial => "no_events"
  - else
    %table.display
      %thead
        %tr
          %th Study ID
          %th Subject Name
          %th Event
          %th Date
      %tbody  
        - @events.each do |e|
          %tr
            %td= link_to e.involvement.study.irb_number, study_path(e.involvement.study) || "(no id)"
            %td= link_to(e.involvement.subject.name, subject_url(e.involvement.subject), :rel => 'facebox')
            %td
              %dfn{:title => e.description}= e.term.capitalize
            %td= e.occurred_on
