- form_tag(involvement_events_path, :id => "new_involvement_event") do
  = hidden_field_tag 'study[irb_number]', params[:study]
  - unless @subject.nil?
    = hidden_field_tag("subject[id]", @subject.id)
  - else
    .subject
      %h3 Subject (required)
      %p
        = label_tag 'subject[mrn]','MRN'
        = text_field_tag('subject[mrn]')
      %p.center OR
      %p
        %br
        = label_tag 'subject[first_name]', 'First Name'
        = text_field_tag('subject[first_name]')
        %br
        = label_tag 'subject[last_name]',  'Last Name'
        = text_field_tag('subject[last_name]')
        %br
        = label_tag 'subject[birth_date]', 'Birth Date'
        = text_field_tag('subject[birth_date]')
      %p.center AND/OR
      %p
        %br
        = label_tag 'involvement[case_number]','Case Number'
        = text_field_tag('involvement[case_number]')
    .demographics
      %h3 Demographics (required)
      %p
        = label_tag 'involvement[gender_type_id]','Gender'
        = select_tag('involvement[gender_type_id]',options_for_select(@genders.map{|gender|[gender.term.capitalize,gender.id]}))
      %p
        = label_tag 'involvement[ethnicity_type_id]','Ethnicity'
        = select_tag('involvement[ethnicity_type_id]',options_for_select(@ethnicities.map{|ethnicity|[ethnicity.term.titleize,ethnicity.id]}))
      %p
        Race
        %br
        - @races.each do |race|
          = check_box_tag "involvement[race_type_ids][]", race.id
          = label_tag "involvement[race_type_ids][]", race.term.capitalize
          %br

  .event
    %h3 Activity
    %p
      = label_tag('involvement_events[][event_type_id]','Activity')
      = select_tag('involvement_events[][event_type_id]',options_for_select(@events.map{|event| [event.term.capitalize, event.id]}, params[:event_type_id].to_i))
    %p
      = label_tag('involvement_events[][note]', 'Note')
      = text_field_tag('involvement_events[][note]')
    %p
      = label_tag('involvement_events[][occurred_on]','Date')
      = text_field_tag('involvement_events[][occurred_on]', Date.today.to_s)
    %p= submit_tag("Submit")