- if @subjects.size == 1 
  %p Please Enter Initial Event, and confirm Subject:
  - form_remote_tag(:url=>involvement_events_path) do
    = label_tag 'first_name' 
    = text_field_tag( :first_name, @subjects.first.first_name)
    = label_tag 'last_name' 
    = text_field_tag( :last_name, @subjects.first.last_name)
    %br
    = label_tag 'mrn'
    = text_field_tag(:mrn,@subjects.first.mrn)
    = label_tag "birth_date", "Date of Birth" 
    = text_field_tag(:birth_date , @subjects.first.birth_date)
    %br
    -if @subjects.first.studies.size > 0 
      %p 
        Current Associated Studies
        %ul
        -@subjects.first.studies.each do |study|
          %li= link_to(study.irb_number, study_path(study.irb_number ))
    = label_tag("event_type","Event Type")
    = text_field_tag(:event_type)
    %br
    = label_tag('event_date', 'Event Date')
    = text_field_tag(:event_date)
    %br
    = submit_tag("Confirm Subject")

- if @subjects.size > 1
  -@subjects.each do |subject|
    - form_remote_tag( :url=> search_involvement_events_path ) do 
      = label_tag 'first_name' 
      = text_field_tag( :first_name, subject.first_name)
      = label_tag 'last_name' 
      = text_field_tag( :last_name, subject.last_name)
      %br
      = label_tag 'mrn'
      = text_field_tag(:mrn,subject.mrn)
      = label_tag 'birth_date', "Date of Birth" 
      = text_field_tag( :birth_date , subject.birth_date)
      %br
      = label_tag 'address'
      = text_field_tag(:address,subject.address_line1)
      = submit_tag( "Select Subject" ) 
      %hr
