.col2
  %p.q When will we need to use eNOTIS?
  %p.a= "#{link_to 'Interventional', 'http://prsinfo.clinicaltrials.gov/definitions.html#StudyType'} studies approved after June 1st, 2010 are required to enter accrual in eNOTIS. Current interventional studies will be required to enter accrual into eNOTIS after their next periodic review. eNOTIS has the ability to import existing subject lists in #{link_to 'csv format', 'http://en.wikipedia.org/wiki/Comma-separated_values'}."

  %p.q What data will we need to enter?
  %p.a Subject identity, NIH race and ethnicity, gender, consent and completion dates. Study information will come from the eIRB and will not require double entry.

  %p.q Who will be able to accrue and view the list of subjects accrued on a study?
  %p.a For each study, the IRB authorized PI, co-PI and coordinators will be able to view the identity of subjects accrued on a study. Any additional roles and responsibilities should be clarified with the IRB and represented in the eIRB.
  
  %p.q When will eNOTIS reflect new and terminated personnel, as authorized personnel list revisions take time in eIRB?
  %p.a The IRB is committed to providing expedited review and implementation of faculty and staff changes for any IRB study. The University has immediate termination of access procedures in place, including netID cutoffs synchronized with physical notification in cases of employee termination.

.col2

  %p.q What information will eNOTIS show about subjects and other studies?
  %p.a Each subject is represented once in eNOTIS. Users who have accrued a subject will be able to view all other studies a subject is accrued on. 

  %p.q What if my protocol requires confidential participation?
  %p.a Participants may be identified by case number only, and their participation will not be seen by other eNOTIS users.

  %p.q Is eNOTIS IRB approved? Will consent language need to be updated?
  %p.a= "eNOTIS is IRB approved, and language that covers the use of eNOTIS is now part of #{link_to 'the IRB consent template', 'http://www.research.northwestern.edu/OPRS/irb/templates/'}. If you use that template, you will not require any additional consent language. eNOTIS is a secure and centrally managed resource for data that is already being tracked by all groups engaged in clinical research."
  %p.q What HIPAA or other security issues are raised by use of eNOTIS?
  %p.a All subject identity searches in eNOTIS are logged. All eNOTIS users have CITI training, as validated by the IRB. We do not anticipate any additional security or HIPAA-related issues.

