%table.display
  %thead
    %tr
      %th Study
      %th PI
      %th Accrual
  %tbody  
    - @studies.each do |study|
      %tr
        %td
          = study.may_accrue? ? "O" : "X"
          = link_to study.irb_number, (study_path(study.irb_number) || "(no id)"), :title => "#{study.status}: #{study.title}", :class => 'study'
          .tooltip
            .title
              %span.status= "#{study.status}:"
              %span.title= study.title
            .details
              %span.phase= "Phase #{study.phase}" unless study.phase.blank?
              %span.research_type= "Research Type: #{study.research_type}" unless study.phase.blank?
              %span.department= "Department: ..."
              %span.pi
                = "PI: #{study.pi_first_name} #{study.pi_last_name}"
                = link_to study.pi_email, "mailto:#{study.pi_email}"
              %span.sc
                = "Coord: #{study.sc_first_name} #{study.sc_last_name}" 
                = link_to study.sc_email, "mailto:#{study.sc_email}"
                
        %td= study.pi_last_name
        %td= study.accrual || 0
