%table.display
  %thead
    %tr
      %th Status
      %th IRB number
      %th Name
      %th Accrual
      %th Goal
  %tbody
    - studies.each do |study|
      %tr
        %td.status= status_span study
        %td.irb_number= link_to(irb_span(study), study_path(study.irb_number), :title => "#{study.status}: #{study.title}", :class => 'study')
        %td= study.name
        %td= study.accrual || 0
        %td= study.accrual_goal