%table.display
  %thead
    %tr
      %th IRB number
      %th Name
      %th PI
      %th Accrual
      %th Goal
  %tbody  
    - studies.each do |study|
      %tr
        %td.irb_number
          = status_icon study
          - if study.has_coordinator?(current_user)
            = link_to study.irb_number || "(no id)", study_path(study.irb_number), :title => "#{study.status}: #{study.title}", :class => 'study'
          - else
            = study.irb_number || "(no id)"
            = link_to image_tag('/images/icons/information.png'), "#", :rel => "#study_information", :class => 'study_information'
            .study_information
              = render :partial => 'partials/study_info', :locals => {:study => study}
        %td= study.name
        %td= study.try(:principal_investigator).try(:last_name)
        %td= study.accrual || 0
        %td= study.accrual_goal