%h4
  = subject.name 
  = subject.synced? ? image_tag("icons/refresh_gray_19.png",:alt => "synced") : link_to(image_tag("icons/refresh_19.png",:alt=>"sync"), search_subjects_url(:subject=>subject), :rel => '#overlay')

%p
  = "mrn: #{subject.mrn}"
  = "dob: #{subject.birth_date}"
  - if involvement
    = "gender: #{involvement.gender}"

#studies
  Other interventional studies:
  %ul
    - subject.other_studies(involvement.study).each do |study|
      %li= link_to(study.irb_number, study_path(study))