- content_for :head do
  :javascript
    $(document).ready(function(){$(".display").dataTable();});
    
#my_studies
  .heading= "My Studies (#{@studies.size})"
  = render :partial => 'partials/study_table'

#recent_events
  .heading
    Recent Events
  %ul
    %li= link_to("STU0001924<br/>John Smith AE")
    %li= link_to("STU0001924<br/>Sally Sue Registered")
    %li= link_to("STU00020135<br/>Study approved")
  = link_to "5 more events", "#"

-#user_options
  .heading
    eNotis options:
  %ul
    %li= link_to("view your profile")
    %li= link_to("view your audit history")
    %li= link_to("verify your email address")
    %li= link_to("edit user settings")
