- content_for :head do
  :javascript
    $(document).ready(function(){$(".display").dataTable();});
    
#my_studies
  .heading= "My Studies (#{@studies.size} in total)"
  = render :partial => 'partials/study_table'

#recent_events
  .heading
    Recent Events
  %ul
    - @top_involvement_events.each do |event|
      %li= link_to "#{event.involvement.study.irb_number}: #{event.involvement.subject.name}<br/>#{event.term} #{time_ago_in_words(event.occured_at)} ago", study_path(event.involvement.study)
  - if @more_events > 0
    = link_to "#{pluralize(@more_events, "more event")}", involvement_events_path

-#user_options
  .heading
    eNotis options:
  %ul
    %li= link_to("view your profile")
    %li= link_to("view your audit history")
    %li= link_to("verify your email address")
    %li= link_to("edit user settings")
