%a.study{:href=> study_path(study)}
  %span.study_id
    = study.irb_number
  %span.name
    = study.title
  %br
  -#%span.phase
    Phase:
    = study.status
  -#%br
  -#%span.title
    Title:
    = study.title || "(untitled)"
  -#%br
  -#%span.description
    Desc:
    = study.description
