-if params[:review]
  %script{:type => 'text/javascript'}
    $(document).ready(function(){
    -@section.questions.select{|q| q.is_mandatory and !q.display_type.eql?('label') and q.triggered?(@response_set) and @response_set.is_unanswered?(q)}.each do |q|
      $("#q_#{q.id}").addClass('incomplete');
    });
#study
  .title
    = irb_span @survey.study
    = status_span @survey.study
  .accrual_count
    = @survey.study.involvements.size
    %label Subjects
  .accrual_goal
    != @survey.study.accrual_goal.blank? ? "&nbsp;" : @survey.study.accrual_goal
    %label Goal
  .name{:title => @survey.study.title}
    = @survey.study.title
    %span.short_name= @survey.study.name
  %br.clear
  #pane
    #surveyor
      -if params[:review]
        .review_alert="Please complete all required questions"
      - semantic_form_for(:r, @response_set, :url => update_my_survey_path, :html => {:method => :put, :id => "survey_form", :class => @survey.custom_class}) do |f|
        #header
          #header_text
            .survey_title= @survey.title
        #menu
          = render 'partials/section_menu' 
        //.previous_section= previous_section
        = render 'partials/dependents' unless @dependents.empty?
        //- if @response_set.no_responses_for_section?(@section) # cache if response_set has no responses for current section
        //  = cache("section_#{@section.id}"){ render "/partials/section", :f => f }
        //- else # no cache
        .survey_section
          = render "/partials/section", :f => f
    %br
