!!!
%html
  %head
    %title eNOTIS
    = stylesheets "static/application", "static/coming_soon"
    = javascripts 'tools/jquery.tools.min', 'tools/flowplayer-3.2.4.min', 'jquery.public'
    :javascript
      $(document).ready(function(){
      // scrollable
      $("div.panes").scrollable({size: 1}).navigator({navi: "ul.tabs", naviItem: "a", activeClass: "current"});
      // video
      flowplayer("player", "/media/flowplayer-3.2.2.swf", {clip: {autoPlay: false}});
      });
      
  %body
    #container
      #header
        #app_name= link img("enotis-swoop-logo.png", :alt => "eNOTIS"), "/"
        #login
      #main
        =yield
      #footer
        .nulogo= link img("nu_logo.gif"), "http://www.northwestern.edu"
        .fsmlogo= link img("fsm-logo.gif"), "http://www.feinberg.northwestern.edu"
        .nucatslogo= link img("nucats_logo.gif"), "http://www.nucats.northwestern.edu"
        .nubiclogo= link img("nubic_logo.gif"), "http://www.nucats.northwestern.edu/clinical-research-resources/data-collection-biomedical-informatics-and-nubic"
        %p.version= "eNOTIS v1.14.0 &mdash; created by #{link("NUBIC", "http://www.nucats.northwestern.edu/clinical-research-resources/data-collection-biomedical-informatics-and-nubic")} for Northwestern University"

