!!!
%html
  %head
    %title eNOTIS
    = stylesheets "static/application", "static/coming_soon"
    = javascripts 'jquery.tools.min'
    :javascript
      $(document).ready(function(){
      // scrollable
      $("div.panes").scrollable({size: 1}).navigator({navi: "ul.tabs", naviItem: "a", activeClass: "current"});
      });
  %body
    #container
      #header
        #app_name= img "static/enotis-swoop-logo.png", :alt => "eNOTIS"
      #main
        =yield
      #footer
        .nulogo= img("static/nu_logo.gif")
        .fsmlogo= img("static/fsm-logo.gif")
        .nucatslogo= img("static/nucats_logo.gif")
        .nubiclogo= img("static/nubic_logo.gif")
        %p.version= "eNOTIS v1.0.0 &mdash; created by #{link("NUBIC", "http://www.nucats.northwestern.edu/centers/nubic")} for Northwestern University"

