!!!
%html
  %head
    %title eNOTIS
    = stylesheets "static/application", "static/coming_soon"
    = javascripts 'jquery.tools.min'
    :javascript
      $(document).ready(function(){
      // scrollable
      $("div.panes").scrollable({size: 1}).navigator({navi: "ul.tabs", naviItem: "a", activeClass: "current"});
      // overlay
      $("a[rel=#database-language]").overlay({expose: {color: '#fff', loadSpeed: 200, opacity: 0.5}});
      });
      
  %body
    #container
      #header
        #app_name= img "enotis-swoop-logo.png", :alt => "eNOTIS"
      #main
        =yield
      #footer
        .nulogo= img("nu_logo.gif")
        .fsmlogo= img("fsm-logo.gif")
        .nucatslogo= img("nucats_logo.gif")
        .nubiclogo= img("nubic_logo.gif")
        %p.version= "eNOTIS v1.4.0 &mdash; created by #{link("NUBIC", "http://www.nucats.northwestern.edu/centers/nubic")} for Northwestern University"

