-form_for(@involvement_event) do |f|
  = f.label :event_type,"Event Type*"
  = f.select :event_type_id,@involvement.study.event_types.collect{|et| [et.name,et.id] }
  %br
  %br
  = f.label      :occurred_on, "On"
  = f.text_field :occurred_on, :class => 'date', :autocomplete => "off"
  %br
  = f.label :note,"Notes"
  = f.text_field :note
  %br
  .footnote="*You can add custom event types by clicking on the 'Settings' tab"
  %br
  #pane_menu
    #pane_actions
      =f.submit "create"
      =link_to "cancel",involvement_events_path(@involvement_event.involvement),:rel=>'#cancel_event'
    
