- content_for :head do
  :javascript
    $(document).ready(function(){
    // one less click for login
    $("#netid").focus();
    // overlay
    $("a[rel=#help]").overlay({onBeforeLoad: function(){var wrap = this.getContent().find(".contentWrap"); wrap.load(this.getTrigger().attr("href"), "format=js");}, expose: {color: '#fff', loadSpeed: 200, opacity: 0.5}});
    // scrollable
    $("div.panes").scrollable({size: 1}).navigator({navi: "ul.tabs", naviItem: "a", activeClass: "current"});
    // flash (messages)
    $("#flash .close").click(function(){$("#flash").fadeOut(300);});
    });
%ul.tabs
  %li= link_to "About", "#about"
  %li= link_to "Training", "#training"
  %li= link_to "Questions", "#questions"
.panes
  .items
    #about.item
      %h2
        eNOTIS is the subject registration system for all IRB-approved
        %br
        clinical research at Northwestern University
      .col
        %h3 Measure
        = image_tag 'measure.jpg'
        %h4 Developed in response to requests from the clinical research community
        %h4 Add subjects to your study and track key clinical events: consent, withdrawal, completion
      .col
        %h3 See
        = image_tag 'see.jpg'
        %h4 Visualize accrual for all your studies in one place
        %h4 Print or export your enrollment for reports
        %h4 eNOTIS meets recent FDA guidelines on electronic reporting and addresses a mandate that accrual information be tracked, validated and reported periodically to clinicaltrials.gov
      .col
        %h3 Improve
        = image_tag 'improve.jpg'
        %h4 Make informed decisions about your research 
        %h4 Ensure subject safety by verifying their participation in other trials 
        %h4 eNOTIS reduces set-up time by accessing your study information through eIRB and subject identity through NU Enterprise Data Warehouse (EDW). This approach means less data entry and will reduce or eliminate the need for manual study tracking adoption
        
        
    #training.item
      %h2 eNOTIS supports two methods of tracking subject accrual
      = image_tag 'coordinator_workflow.jpg'
      %h3
        Send your support requests to:
        %br
        = mail_to 'enotis-support@northwestern.edu'
    #questions.item
      = render :partial => 'partials/faq'

  -#system_status{:class => @status}
    .heading System status
    %p= ApplicationController::SYSTEM_STATUSES[@status.to_sym]



