- content_for :head do
  %script{:type => 'text/javascript'}
    $(document).ready(function(){
    // one less click for login
    $("#netid").focus();
    // overlay
    $("a[rel=#overlay]").overlay({ 
    onBeforeLoad: function() { var wrap = this.getContent().find(".contentWrap"); wrap.load(this.getTrigger().attr("href"), "format=js"); },
    expose: { color: '#fff', loadSpeed: 200, opacity: 0.5 }
    });
    // scrollable
    $("div.panes").scrollable({size: 1}).navigator({navi: "ul.tabs", naviItem: "a", activeClass: "current"});
    // flash (messages)
    var flashWidth = $("#flash").css('width');
    $("#flash").animate({width: flashWidth}, 3000).slideUp(1000);
    });

%ul.tabs
  %li= link_to "Measure", "#measure"
  %li= link_to "See", "#see"
  %li= link_to "Improve", "#improve"
.panes
  .items
    #measure.item
      %h2 Measure
      .pane-column
        %h4 eNOTIS is the subject registration system for all IRB approved clinical research at Northwestern University.
        %h3
          894 active studies
          %br
          542 active users
        = image_tag '/images/NU_Logo_black.jpg'
        
        -#%li print or export your enrollment to clinicaltrials.gov, eirb
        -#%li (later: budgets/adverse events/pt calendar)
      .pane-column
        %h4 Keep your enrollment logs secure in eNOTIS, not a binder or laptop.
        = image_tag '/images/accrual-goal.png'
        
      .pane-column
        %h4 Print or export your enrollment to clinicaltrials.gov, eIRB
        %h2
          %span{:style => "border:1px solid #626262; padding: 5px 6px 20px 6px"} .xls 
          %span{:style => "border:1px solid #626262; padding: 5px 3px 20px 3px"} .csv
        %h3 VIDEO
        
    #see.item
      %h2 See
      .pane-column
        %h4 A one-page comprehensive overview of all of your research for regular meetings.
        -#%li see trends what days are the best for recruitment on studies
      .pane-column
        %h4 Visualize accrual in the context of the department and the university as a whole
        %h3 CHART
      .pane-column
        %h4 Identify leaders and demonstrate the case for extra support
        %h3 VIDEO
    #improve.item
      %h2 Improve
      .pane-column
        %h4 Identify studies, days, that need extra resources or energy.
        -#%li see trends what days are the best for recruitment on studies
      .pane-column
        %h4 Find collaborators with related research
        %h3 (lattice grid, keywords)
      .pane-column
        -#%h4 Integrate your patient registry and follow-up surveys
        -#%h3 VIDEO
        -#%li (later: crf's?)
        %h4 Learn more
        %p= link_to "Frequenty asked questions"
        %p
          = image_tag "/images/video.jpg"
          = image_tag "/images/video.jpg"
          %br
          = link_to("How to use eNOTIS")
          = link_to("Basic Overview")
        

  -#system_status{:class => @status}
    .heading System status
    %p= ApplicationController::SYSTEM_STATUSES[@status.to_sym]



