- content_for :head do
  %script{:type => 'text/javascript'}
    $(document).ready(function(){
    $("a[rel=#overlay]").overlay({ 
    onBeforeLoad: function() { var wrap = this.getContent().find(".contentWrap"); wrap.load(this.getTrigger().attr("href"), "format=js"); },
    expose: { color: '#fff', loadSpeed: 200, opacity: 0.5 }
    });
    $("div.panes").scrollable({size: 1}).navigator({navi: "ul.tabs", naviItem: "a", activeClass: "current"});
    $("#netid").focus();
    var flashWidth = $("#flash").css('width');
    $("#flash").animate({width: flashWidth}, 3000).slideUp(1000);
    });

%ul.tabs
  %li= link_to "Measure", "#measure"
  %li= link_to "See", "#see"
  %li= link_to "Improve", "#improve"
.panes
  .items
    #measure
      %h2 Measure
      %ul
        %li eNOTIS is the subject registration system for all IRB approved clinical research at Northwestern University
        %li keep your accrual logs safe in enotis, not a binder or a backup
        %li print or export your enrollment to clinicaltrials.gov, eirb
        %li (later: budgets/adverse events/pt calendar)
    #see
      %h2 See
      %ul
        %li a one-page comprehensive overview of all of your research for regular meetings
        %li visualize accrual in the context of the department and the university as a whole
        %li identify leaders and demonstrate the case for extra support
        %li see trends what days are the best for recruitment on studies
    #improve
      %h2 Improve
      %ul
        %li identify studies, days, that need extra resources or energy
        %li find collaborators with related research (lattice grid)
        %li integrate your patient registry and follow-up surveys
        %li (later: crf's?)
  -#training
    .heading Get acquainted with eNOTIS
    #videos
      .title Video Training
      %ul
        %li Learn basic<br/>concepts<br/>and log in
        %li Add a<br/>subject
        %li Import<br/>subjects
        %li Add subject<br/>events
    #tutorials
      .title Written Tutorials
      %ul
        %li= link_to("Basic Overview")
        %li= link_to("How to use eNOTIS")
        %li= link_to("FAQ")
    #trainings
      .title Live in-person group training 
      %ul
        %li
          %span.title= link_to("The ins and outs of eNOTIS")
          %span.date 19-32-1234 @ 12noon
          %span.location Streeterville, 750 N Lake Shore
        %li
          %span.title= link_to("So, you want to use eNOTIS")
          %span.date 21-32-5124 @ 3pm
          %span.location Streeterville, 750 N Lake Shore
        %li
          %span.title= link_to("Unleashing the inner eNOTIS guru")
          %span.date 31-44-1993 @ 8am
          %span.location Streeterville, 750 N Lake Shore
  
  -#system_status{:class => @status}
    .heading System status
    %p= ApplicationController::SYSTEM_STATUSES[@status.to_sym]



