- content_for :head do
  %script{:type => 'text/javascript'}
    $(document).ready(function(){$("#netid").focus();});
#left_primary
  #enotis_description
    eNOTIS is the subject registration system for all IRB approved clinical research at Northwestern University
  
  #training
    .heading Get acquainted with eNOTIS
    .topic
      .title Video Training
      %ul.videos
        %li.video Learn basic<br/>concepts<br/>and log in
        %li.video Add a<br/>subject
        %li.video Import<br/>subjects
        %li.video Add subject<br/>events
    .topic
      .title Written Tutorials
      %ul.articles
        %li.article= link_to("Basic Overview")
        %li.article= link_to("How to use eNOTIS")
        %li.article= link_to("FAQ")
    .topic
      .title Live in-person group training 
      %ul.trainings
        %li.training 
          %span.title= link_to("The ins and outs of eNOTIS")
          %span.date 19-32-1234 @ 12noon
          %span.location Streeterville, 750 N Lake Shore
        %li.training 
          %span.title= link_to("So, you want to use eNOTIS")
          %span.date 21-32-5124 @ 3pm
          %span.location Streeterville, 750 N Lake Shore
        %li.training
          %span.title= link_to("Unleashing the inner eNOTIS guru")
          %span.date 31-44-1993 @ 8am
          %span.location Streeterville, 750 N Lake Shore

#right_sidebar
  #loginbox
    -form_tag(login_authentication_path, :method => 'post') do
      %p
        %label{:for => 'netid'} NetID
        %br
        = text_field_tag('netid')
      %p  
        %label{:for => 'password'} Password
        %br
        = password_field_tag('password')
      %p 
        = submit_tag('login')
      %p
        = link_to "I cannot access my account", access_help_authentication_path
  #system_status{:class => @status}
    .heading System status
    %p= ApplicationController::SYSTEM_STATUSES[@status.to_sym]



