- content_for :head do
  :javascript
    $(document).ready(function(){
    // one less click for login
    $("#netid").focus();
    // overlay
    $("a[rel=#help]").overlay({onBeforeLoad: function(){var wrap = this.getContent().find(".contentWrap"); wrap.load(this.getTrigger().attr("href"), "format=js");}, expose: {color: '#fff', loadSpeed: 200, opacity: 0.5}});
    // scrollable
    $("div.panes").scrollable({size: 1}).navigator({navi: "ul.tabs", naviItem: "a", activeClass: "current"});
    // flash (messages)
    var flashWidth = $("#flash").css('width');
    $("#flash").animate({width: flashWidth}, 3000).slideUp(1000);
    });
%ul.tabs
  %li= link_to "Measure", "#measure"
  %li= link_to "See", "#see"
  %li= link_to "Improve", "#improve"
.panes
  .items
    #measure.item
      %h2 Measure
      = image_tag "measure.jpg"
      %h4 Developed in response to requests from the clinical research community, eNOTIS is the subject registration system for all IRB-approved clinical research at Northwestern University
      %h3 Add subjects to your study and track key clinical events: consent, withdrawal, completion
        
    #see.item
      %h2 See
      = image_tag "see.jpg"
      %h3 eNOTIS helps you visualize accrual for all your studies in a centralized repository
      %h3 Print or export your enrollment for reporting purposes
      %h4 eNOTIS meets recent FDA guidelines on electronic reporting and addresses a mandate that accrual information be tracked, validated and reported periodically to clinicaltrials.gov
    #improve.item
      %h2 Improve
      = image_tag "improve.jpg"
      %h3 Make informed decisions about your research 
      %h3 Ensure subjects' safety by verifying their participation in other trials 
      %h4 eNOTIS reduces set-up time by accessing your study information through eIRB and patient identity through the NU Enterprise Data Warehouse (EDW). This approach means less data entry and will reduce or eliminate the need for manual study tracking adoption

  -#system_status{:class => @status}
    .heading System status
    %p= ApplicationController::SYSTEM_STATUSES[@status.to_sym]



