- content_for :head do
  = javascript_include_tag 'tools/flowplayer-3.2.4.min'
  %script{:type => "text/javascript"}
    $(document).ready(function(){
    if($('#player').length){ flowplayer("player", "/media/flowplayer-3.2.4.swf", {clip: {autoPlay: false}, canvas: {backgroundColor: '#dddddd', backgroundGradient: 'medium'}}); }
    });

#training
  .col3
    %h2 Watch our 4 minute introduction to eNOTIS
    %a{:href => "/media/enotis-tutorial-a.mov", :style => "display:block;width:550px;height:386px;", :id => "player"}
    -# = image_tag 'coordinator_workflow.jpg'
  .colx
    %h3
      Need support?
      %br
      = mail_to 'enotissupport@northwestern.edu'
      %br
      = link_to "312.857.3141", 'tel:1-312-857-3141'
    %h3
      Interested in a demo or training?
      %br
      = mail_to 'enotis@northwestern.edu'
  %br.clear
%br.clear
#sprv
  %h2 Study Participant Research Voucher (SPRV)
  %p= "#{link_to 'A SPRV form', '/media/SPRV_ver20110719.xlsx'} must be submitted, when a research participant receives medical services at NMH or NMFF, by close of business the following day. For assistance, e-mail #{link_to 'SPRVsupport@northwestern.edu', 'mailto:SPRVsupport@northwestern.edu'}".html_safe
  %h3 Encryption details
  %p 
    The form should be password protected in Excel with the following password: 
    %strong sprv
  %ul
    %li= link_to "Excel 2003 password instructions", "http://office.microsoft.com/en-us/excel-help/overview-of-security-and-protection-in-excel-HP005238854.aspx?CTT=1"
    %li= link_to "Excel 2007 password instructions", "http://office.microsoft.com/en-us/excel-help/password-protect-documents-workbooks-and-presentations-HA010148333.aspx?CTT=1#BM4"
    %li= link_to "Excel 2010 password instructions", "http://office.microsoft.com/en-us/excel-help/protect-your-document-workbook-or-presentation-with-passwords-permission-and-other-restrictions-HA010354324.aspx?CTT=1#BM2"
  
#questions
  %h2 Frequently Asked Questions (FAQ)
  = render :partial => 'partials/faq'

#database-language.overlay
  %h3 IRB consent template language, "Database" section
  %p We are committed to respecting your privacy and keeping your personal identifiable information confidential. When choosing to take part in this study, you are giving us permission to add your identifiable information to databases and registries that may be accessed by other researchers and administrators at Northwestern University. Identifiable information includes your name, address, date of birth, phone number, medical record number, and social security number. Your information may then be used to track your participation in all research at Northwestern University. Also, your information without identifiers may be used to create reports for quality control purposes and may be sent to government databases such as ClinicalTrials.gov, a database that contains information on research that is conducted in the United States and around the world.

