- content_for :head do
  = stylesheet_link_tag "dateinput"
  = javascript_include_tag 'charts/protovis-r3.2', 'tools/flowplayer-3.2.4.min', :cache => "cache/study"
  %script{:type => "text/javascript+protovis"}
    $(document).ready(function(){
    - if @involvements.empty?
      if($('#player').length){ flowplayer("player", "/media/flowplayer-3.2.4.swf", {clip: {autoPlay: false}, canvas: {backgroundColor: '#dddddd', backgroundGradient: 'medium'}}); }
    - else
      = render :file => "public/javascripts/charts/protovis.charts.js" # must be rendered inline, unfortunately, because ie doesn't process scripts with type=text/javascript+protovis
      = "months('timechart', 'Monthly and total accruals, last 12 months', #{@time_stats[0].inspect}, #{@time_stats[1].inspect}, #{@time_stats[2].inspect});".html_safe
      = "donut('gender', #{@gender_stats.map(&:last).inspect}, #{@gender_stats.map(&:first).inspect});".html_safe
      = "donut('race', #{@race_stats.map(&:last).inspect}, #{@race_stats.map(&:first).inspect});".html_safe
      = "donut('ethnicity', #{@ethnicity_stats.map(&:last).inspect}, #{@ethnicity_stats.map(&:first).inspect});".html_safe
      = "dots('dotchart', 'All accruals by month and weekday', #{@dot_stats});".html_safe
    });
#back.heading= link_to "My Studies".html_safe, studies_path
#study
  -if @study.read_only?
    .study_msg= "#{@study.read_only_msg || "This study has been set to READ ONLY!"} It cannot be modified in eNOTIS."
  .title
    = irb_span @study
    = status_span @study
  .accrual_count
    = @involvements.size
    %label Subjects
  .accrual_goal
    != @study.accrual_goal.blank? ? "&nbsp;" : @study.accrual_goal
    %label Goal
  .name{:title => @study.title}
    = @study.title
    %span.short_name= @study.name
  %br.clear
  #actions
    = link_to("Subjects", "#subjects", :class => 'subjects')
    = link_to("Details and Charts", '#study_information', :class => 'charts')
    - unless @study.read_only?
      = link_to("Add", new_involvement_path(:study => @study), :class => 'add')
      = link_to("Import", study_uploads_path(@study), :class => 'import')
    - unless @involvements.empty?
      = link_to("Export", new_report_path(:study => @study), :class => 'export')
    = link_to("Reports", '#reports', :class => 'report')
  #panes
    #subjects
      -has_scored_form = @study.surveys.detect{|f| !f.score_configurations.empty?}
      %table.display{:id=>'subject_list'}
        %thead
          %tr
            %th
            - %w(Case# Other\ Studies NMFF\ MRN NMH\ MRN RIC\ MRN Name).each do |header|
              %th= header
            %th
              %dtr{:title => @study.event_types.define_event("Consented")} Consented
            %th
              %dtr{:title => @study.event_types.define_event("Withdrawn"), :class => "withdrawn"} Withdrawn
              %br
              %dtr{:title => @study.event_types.define_event("Completed")} Completed
            -unless @study.read_only?
              %th Actions
            -else
              %th View
            %th.hidden
        %tbody
          - @involvements.each do |involvement|
            %tr{:class => "subject_#{involvement.subject.id} #{@study.surveys.empty? ? '' : 'row_expandable'} "}
              // #{involvement.response_sets.empty? ? '' : 'row_expandable'}"}
              %td.expander
              %td= involvement.case_number
              %td= other_studies_flag(involvement)
              %td= involvement.subject.nmff_mrn
              %td= involvement.subject.nmh_mrn
              %td= involvement.subject.ric_mrn
              %td= involvement.subject_name_or_case_number
              %td= involvement.consented.occurred_on unless involvement.consented.nil?
              %td{:class => "#{involvement.withdrawn.nil? ? '' : 'withdrawn'}"}
                = involvement.completed.occurred_on unless involvement.completed.nil?
                = involvement.withdrawn.occurred_on unless involvement.withdrawn.nil?
              - unless @study.read_only?
                %td
                  = link_to("Edit", edit_involvement_path(involvement), :rel => "#involvement") + "&nbsp;&nbsp;".html_safe + link_to('Delete', involvement_path(involvement), :confirm_msg => "You are about to delete this subject. Deleting will completely remove all of the subject's information from the study.", :method => :delete, :class=>'delete')
                  -unless @study.surveys.empty?
                    =link_to("Start Form",available_surveys_path(:involvement_id=>involvement.id,:study_id=>@study.id),:rel=>'#start_form')
              - else
                %td
                  = link_to "View", involvement_path(involvement), :rel => "#involvement"
                  -unless @study.surveys.empty?
                    =link_to("Start Form",available_surveys_path(:involvement_id=>involvement.id,:study_id=>@study_id),:rel=>'#start_form')
              %td.hidden
                -if involvement.response_sets.empty?
                  #sub_section="No forms filled for this subject - access code - #{link_to(involvement.uuid,public_available_surveys_path(:uuid=>involvement.uuid)) unless involvement.uuid.blank?}"
                -else
                  #sub_section="Forms - access code - #{link_to(involvement.uuid,public_available_surveys_path(:uuid=>involvement.uuid)) unless involvement.uuid.blank?}" 
                  %table.treeTable{:id=>'tree'}
                    %thead
                      %tr
                        %th Form/Visit Date
                        %th Form
                        %th Status
                        - if has_scored_form
                          %th Score
                        %th Actions
                    %tbody
                      -involvement.response_sets.collect{|r| r.effective_date}.uniq.each do |effective_date|
                        %tr{:id=>"node-#{involvement.id}#{effective_date.to_s.gsub('-','')}"}
                          %td=effective_date.blank? ? "--" : effective_date.strftime("%m/%d/%Y")
                          %td=""
                          %td=""
                          - if has_scored_form
                            %td=""
                          %td=""
                        -involvement.response_sets.select{|r| r.effective_date.eql?(effective_date)}.each do |r|
                          %tr{:class=>"child-of-node-#{involvement.id}#{effective_date.to_s.gsub('-','')}"}
                            %td=""
                            %td=r.survey.title
                            %td=r.status
                            - if has_scored_form
                              %td
                                -r.scores.each do |score|
                                  ="#{score.score_configuration.name} : #{score.value}"
                                  %br
                            %td
                              -if r.completed_at.blank?
                                =link_to("Edit",edit_my_survey_path(r.survey.access_code,r.access_code))
                                =" - "
                              =link_to("View",view_my_survey_path(r.survey.access_code,r.access_code))
                              =" - "
                              =link_to("Download",view_my_survey_path(r.survey.access_code,r.access_code,:format=>'pdf'))
                              //=" - "
                              //=link_to("Delete",response_set_path(r),:method=>:delete,:class=>'delete',:confirm=>"Are you sure you want to delete this subject's form?" )

    #study_information
      .details
        = render :partial => 'partials/study_info', :locals => {:study => @study}
      - unless @involvements.empty?
        .charts
          #gender.chart
          #ethnicity.chart
          #race.chart
          #timechart
          #dotchart
      %br.clear
    - unless @study.read_only?
      #add{:rel => new_involvement_path(:study => @study)}
      #import{:rel => study_uploads_path(@study)}
    - unless @involvements.empty?
      #export{:rel => new_report_path(:study => @study)}
    #report
      %h2 Available reports
      %ul
        %li= link_to "NIH Inclusion Enrollment Report", nih_reports_path(:study => @study.irb_number), :popup => true
  %br.clear
  #involvement.overlay
    .wrap
  #other_studies.overlay
    .wrap
  #mrn_lookup.overlay
    .wrap
  #start_form.overlay
    .wrap
  #intro.overlay
    %p
      %a#player{:style => 'display: block; width: 550px; height: 386px; margin: 0 auto;', :href => '/media/enotis-tutorial-a.mov'}
