- content_for :head do
  = stylesheet_link_tag "dateinput"
  = javascript_include_tag 'charts/highcharts', 'charts/excanvas.compiled', 'charts/raphael-min', 'charts/g.raphael-min', 'charts/g.dot-min', 'charts/jquery.charts', 'tools/flowplayer-3.2.4.min', :cache => "cache/study"
  %script{:type => "text/javascript"}
    $(document).ready(function(){
    - if @involvements.empty?
      if($('#player').length){ flowplayer("player", "/media/flowplayer-3.2.4.swf", {clip: {autoPlay: false}, canvas: {backgroundColor: '#dddddd', backgroundGradient: 'medium'}}); }
    - else
      = "pieChart('gender', 'Gender', #{@gender_stats.inspect});"
      = "pieChart('race', 'Race', #{@race_stats.inspect});"
      = "pieChart('ethnicity', 'Ethnicity', #{@ethnicity_stats.inspect});"
      = "timeChart('timechart', 'Monthly and total accruals', 'last 12 months', #{@time_stats[0].inspect}, #{@time_stats[1].inspect}, #{@time_stats[2].inspect});"
      = "dotChart(#{@dot_stats});"
    $('#study_information').hide(10); // need an arbitrary delay to have hide happen after pieChart
    });
#study
  -if @study.read_only?
    .study_msg= "This study is managed by a different system. Please see #{@study.read_only_msg || "the source system"} to edit information in this study and any related records." 
  .title
    = pretty_irb_number @study
    = pretty_status @study
  .accrual_count
    = @involvements.size
    %label Subjects
  .accrual_goal
    = @study.accrual_goal.blank? ? "&nbsp;" : @study.accrual_goal
    %label Goal
  .name{:title => @study.title}
    = @study.title
    %span.short_name= @study.name

  #study_information
    .details
      = render :partial => 'partials/study_info', :locals => {:study => @study}
    - unless @involvements.empty?
      .charts
        #gender.chart
        #ethnicity.chart
        #race.chart
        #timechart
        .dotchart
          %h3 Accruals by month and weekday
          #by_month_and_weekday  
  #accrual
    #actions
      = link_to("Details and Charts", '#', :rel => '#study_information', :class => 'charts')
      -unless @study.read_only?
        = link_to("Add", new_involvement_path(:study => @study), :rel => '#involvement', :class => 'add')
        = link_to("Import", import_study_path, :rel => "#import", :class => 'import')
      = link_to("Export", new_report_path(:study => @study), :rel => '#export', :class => 'export') unless @involvements.empty?
      = link_to("Reports", '#', :rel => '#report', :class => 'report')
    %table.display
      %thead
        %tr
          - %w(Case# Other\ Studies MRN Name Birth\ date Gender Ethnicity Race).each do |header|
            %th= header
          %th
            %dtr{:title => InvolvementEvent.define_event("Consented")} Consented
          %th
            %dtr{:title => InvolvementEvent.define_event("Withdrawn"), :class => "withdrawn"} Withdrawn
            %br
            %dtr{:title => InvolvementEvent.define_event("Completed")} Completed
          -unless @study.read_only?
            %th{:colspan=>2} Actions
          -else
            %th View
      %tbody
        - @study.involvements.each do |involvement|
          %tr{:class => "subject_#{involvement.subject.id}"}
            %td= involvement.case_number
            %td= other_studies_flag(involvement)
            %td= involvement.subject.mrn
            %td= involvement.subject_name_or_case_number
            %td= involvement.subject.birth_date.to_s
            %td= involvement.gender
            %td= involvement.ethnicity
            %td= involvement.race
            %td= event_info(involvement, "consented")
            %td<
              = event_info(involvement, "completed")
              = event_info(involvement, "withdrawn")
            -unless @study.read_only?
              %td= link_to "Edit", edit_involvement_path(involvement), :rel => "#involvement"
              %td= link_to 'Delete', involvement_path(involvement), :confirm_msg => "You are about to delete this subject. Deleting will completely remove all of the subject's information from the study.", :method => :delete, :class=>'delete'
            -else
              %td= link_to "View", involvement_path(involvement), :rel => "#involvement"
  #involvement.overlay
    .wrap
  #export.overlay
    .wrap
  #import.overlay
    .wrap
  #other_studies.overlay
    .wrap
  #report.overlay
    .wrap
      %h2 Available reports
      %ul
        %li= link_to "NIH Inclusion Enrollment Report", nih_reports_path(:study => @study.irb_number)
  #intro.overlay
    %p
      %a#player{:style => 'display: block; width: 550px; height: 386px; margin: 0 auto;', :href => '/media/enotis-tutorial-a.mov'}
