- content_for :head do
  = stylesheet_link_tag "dateinput"
  = javascript_include_tag 'charts/protovis-r3.2','tools/flowplayer-3.2.4.min', :cache => "cache/study"
  %script{:type => "text/javascript+protovis"}
    $(document).ready(function(){
    - if @study.involvements.empty?
      if($('#player').length){ flowplayer("player", "/media/flowplayer-3.2.4.swf", {clip: {autoPlay: false}, canvas: {backgroundColor: '#dddddd', backgroundGradient: 'medium'}}); }
    - else
      = render :file => "public/javascripts/charts/protovis.charts.js" # must be rendered inline, unfortunately, because ie doesn't process scripts with type=text/javascript+protovis
      = "months('timechart', 'Monthly and total accruals, last 12 months', #{@time_stats[0].inspect}, #{@time_stats[1].inspect}, #{@time_stats[2].inspect});".html_safe
      = "donut('gender', #{@gender_stats.map(&:last).inspect}, #{@gender_stats.map(&:first).inspect});".html_safe
      = "donut('race', #{@race_stats.map(&:last).inspect}, #{@race_stats.map(&:first).inspect});".html_safe
      = "donut('ethnicity', #{@ethnicity_stats.map(&:last).inspect}, #{@ethnicity_stats.map(&:first).inspect});".html_safe
      = "dots('dotchart', 'All accruals by month and weekday', #{@dot_stats});".html_safe
      });
  %script{:type => "text/javascript"}
    $(document).ready(function(){
    $('#study_information').hide(10);
    });
#back.heading= link_to "My Studies".html_safe, studies_path
#study
  -if @study.read_only?
    .study_msg= "#{@study.read_only_msg || "This study has been set to READ ONLY!"} It cannot be modified in eNOTIS."
  .title
    = irb_span @study
    = status_span @study
  .accrual_count
    = @involvements.size
    %label Subjects
  .accrual_goal
    != @study.accrual_goal.blank? ? "&nbsp;" : @study.accrual_goal
    %label Goal
  .name{:title => @study.title}
    = @study.title
    %span.short_name= link_to 'Details and Charts', '#',:rel => "#study_information",:class=>'charts'#@study.name
  %br.clear
  #study_information
    .details
      = render :partial => 'partials/study_info', :locals => {:study => @study}
    - unless @involvements.empty?
      .charts
        #gender.chart
        #ethnicity.chart
        #race.chart
        #timechart
        #dotchart
      %br.clear

  %br.clear
  #actions
    = link_to("Subjects", involvements_path(:study_id=>@study.irb_number), :class => 'subjects')
    - unless @study.involvements.empty?
      = link_to("Reports/Export", new_report_path(:study => @study), :class => 'export')
    = link_to("Settings",edit_study_path(@study), :class => 'settings')
  #pane
  %br.clear
  #other_studies.overlay
    .wrap
  #mrn_lookup.overlay
    .wrap
  #intro.overlay
    %p
      %a#player{:style => 'display: block; width: 550px; height: 386px; margin: 0 auto;', :href => '/media/enotis-tutorial-a.mov'}
