- content_for :head do
  = stylesheet_link_tag "dateinput"
  = javascript_include_tag 'charts/protovis-r3.2', 'tools/flowplayer-3.2.4.min', :cache => "cache/study"
  %script{:type => "text/javascript+protovis"}
    =render :file => "public/javascripts/charts/protovis.charts.js" # must be rendered inline, unfortunately, because ie doesn't process scripts with type=text/javascript+protovis
#back.heading= link_to "My Studies".html_safe, studies_path
#study
  -if @study.read_only?
    .study_msg= "#{@study.read_only_msg || "This study has been set to READ ONLY!"} It cannot be modified in eNOTIS."
  .title
    = irb_span @study
    = status_span @study
  .accrual_count
    = @involvements.size
    %label Subjects
  .accrual_goal
    != @study.accrual_goal.blank? ? "&nbsp;" : @study.accrual_goal
    %label Goal
  .name{:title => @study.title}
    = @study.title
    %span.short_name= @study.name
  %br.clear
  #actions
    = link_to("Subjects", involvements_path(:study_id=>@study.irb_number), :class => 'subjects')
    = link_to("Details and Charts",charts_study_path(@study), :class => 'charts')
    - unless @study.involvements.empty?
      = link_to("Reports/Export", new_report_path(:study => @study), :class => 'export')
  #pane
  %br.clear
  #other_studies.overlay
    .wrap
  #mrn_lookup.overlay
    .wrap
  #intro.overlay
    %p
      %a#player{:style => 'display: block; width: 550px; height: 386px; margin: 0 auto;', :href => '/media/enotis-tutorial-a.mov'}
