- content_for :head do
  = stylesheet_link_tag 'jquery-ui-1.7.2.custom'
  = javascript_include_tag 'highcharts/highcharts', 'highcharts/excanvas.compiled', 'jquery.charts', 'jquery-ui-1.7.2.custom-datepicker', 'raphael-min', 'g.raphael-min', 'g.dot-min', :cache => "cache/study"
  %script{:type => "text/javascript"}
    $(document).ready(function(){
    - if @involvements.empty?
      $('#study_information .charts, #study_information .dotchart').hide();
    - else
      = "pieChart('gender', 'Gender', #{@gender_stats.inspect});"
      = "pieChart('race', 'Race', #{@race_stats.inspect});"
      = "pieChart('ethnicity', 'Ethnicity', #{@ethnicity_stats.inspect});"
      = "dotChart(#{InvolvementEvent.accruals.on_study(@study).to_dot_chart.inspect});"
      - tc_array = InvolvementEvent.accruals.on_study(@study).to_time_chart
      = "timeChart('timechart', 'Monthly and total accruals', #{tc_array[0].inspect}, #{tc_array[1].inspect})"
    // $('#study_information').hide(10); // need an arbitrary delay to have hide happen after pieChart
    });
#study
  .title
    = pretty_irb_number @study
    = pretty_status @study
  .accrual_count
    = @involvements.size
    %label Subjects
  .accrual_goal
    = @study.accrual_goal.blank? ? "&nbsp;" : @study.accrual_goal
    %label Goal
  .name{:title => @study.name}= @study.name

  #study_information
    .details
      = render :partial => 'partials/study_info', :locals => {:study => @study}
    .charts
      #gender.chart
      #ethnicity.chart
      #race.chart
      #timechart
      .dotchart
        %h3 Accruals by month and weekday
        #by_month_and_weekday  
  #accrual
    #actions
      = link_to("Details and Charts", '#', :rel => '#study_information', :class => 'charts')
      = link_to("Add", new_involvement_path(:study => @study), :rel => '#involvement', :class => 'add')
      = link_to("Import", import_study_path, :rel => "#import", :class => 'import')
      = link_to("Export", new_report_path(:study => @study), :rel => '#export', :class => 'export') unless @involvements.empty?
    %table.display
      %thead
        %tr
          - %w(Case# MRN Name Birth\ date Gender Ethnicty Race).each do |header|
            %th= header
          %th
            %dtr{:title => InvolvementEvent.define_event("Consented")} Consented
          %th
            %dtr{:title => InvolvementEvent.define_event("Withdrawn"), :class => "withdrawn"} Withdrawn
            %br
            %dtr{:title => InvolvementEvent.define_event("Completed")} Completed
          %th Edit
      %tbody
        - @study.involvements.each do |involvement|
          %tr{:class => "subject_#{involvement.subject.id}"}
            %td= involvement.case_number
            %td= involvement.subject.mrn
            %td
              = involvement.subject_name_or_case_number
            %td= involvement.subject.birth_date.to_s
            %td= involvement.gender
            %td= involvement.ethnicity
            %td= involvement.race
            %td= event_info(involvement, "consented")
            %td<
              = event_info(involvement, "completed")
              = event_info(involvement, "withdrawn")
            %td= link_to "Edit", edit_involvement_path(involvement), :rel => "#involvement"
  #involvement.overlay
    .wrap
  #export.overlay
    .wrap
  #import.overlay
    .wrap