- content_for :head do
  = javascript_include_tag 'highcharts/highcharts', 'highcharts/excanvas.compiled', 'jquery.charts'
  %script{:type => "text/javascript"}
    $(document).ready(function(){
    - if @involvements.empty?
      $('#study_information .charts').hide();
    - else
      = "pieChart('gender', 'Gender', #{@gender_stats.inspect});"
      = "pieChart('race', 'Race', #{@race_stats.inspect});"
      = "pieChart('ethnicity', 'Ethnicity', #{@ethnicity_stats.inspect});"
    $('#study_information').hide(10);
    // need an arbitrary delay to have hide happen after pieChart
    });

#study
  #study_title
    = link_to "#{status_icon @study} #{@study.irb_number || "(no id)"}", "#", :rel => "#study_information"
    %span.name{:title => @study.name}= @study.name
  #study_information
    = render :partial => 'partials/study_info', :locals => {:study => @study}
  #accrual
    .subject_count= "Subjects (#{@involvements.size})"
    #actions
      = link_to("Add", new_involvement_path(:study => @study), :rel => '#involvement', :class => 'add')
      = link_to("Import", import_study_path, :rel => "#import", :class => 'import')
      = link_to("Export", new_report_path(:study => @study), :rel => '#export', :class => 'export') unless @involvements.empty?
    %table.display
      %thead
        %tr
          %th Case#
          %th MRN
          %th Name
          %th Birth date
          %th Gender
          %th Ethnicity
          %th Race
          %th
            %dtr{:title => InvolvementEvent.define_event("Consented")} Consented
          %th
            %dtr{:title => InvolvementEvent.define_event("Withdrawn"), :class => "withdrawn"} Withdrawn
            %br
            %dtr{:title => InvolvementEvent.define_event("Completed")} Completed
          %th Edit
      %tbody
        - @study.involvements.each do |involvement|
          %tr{:class => "subject_#{involvement.subject.id}"}
            %td= involvement.case_number
            %td= involvement.subject.mrn
            %td
              = involvement.subject_name_or_case_number
            %td= involvement.subject.birth_date.to_s
            %td= involvement.gender
            %td= involvement.ethnicity
            %td= involvement.race
            %td= event_info(involvement, "consented")
            %td<
              = event_info(involvement, "completed")
              = event_info(involvement, "withdrawn")
            %td= link_to "Edit", edit_involvement_path(involvement), :rel => "#involvement"
  #involvement.overlay
    .wrap
  #export.overlay
    .wrap
  #import.overlay
    .wrap