#protocol_full
  %ul.menu
    %li.active
      %a
        General Info
    %li.inactive
      %a
        Protocol Events
    %li.inactive
      %a
        Patients
    %li.inactive
      %a
        Patient Events
    %li.inactive
      %a.gray
        Budgeting

  .header_details
    .primary_data
      .status_icon.approved
        Approved
        %small.gray
          mm/dd/yyyy
      .study_id="##{protocol.study_id}"
    .secondary_data
      .name
        %em
          Name:
        = protocol.name  || "Missing"
      .phase
        %em
          Phase:
        = protocol.phase || "Missing"
      .title
        %em
          Title:
        = protocol.short_title || "Missing"
      .pi
        %em
          PI:
        Investigator, Principal
      .coord
        %em
          Study Coord:
        Coordinator, Study

    .tertiary_data
      .description
        %em
          Description:
        = protocol.description || "Missing"
  
  .file_details
    %strong
      Protocol Documents
    %ul
      %li.protocol_file
        =image_tag("protocol_icon.gif")
        %em 
          Protocol Document
          =link_to("(view)")
          &nbsp;
          =link_to("(download)")
      %li.protocol_file
        =image_tag("consent_icon.gif")
        %em
          Standard Consent
          =link_to("(view)")
          &nbsp;
          =link_to("(download)")
      %li.protocol_file
        =image_tag("consent_icon.gif")
        %em
          Standard Assent
          =link_to("(view)")
          &nbsp;
          =link_to("(download)")
      %li.protocol_file
        =image_tag("consent_icon.gif")
        %em
          Health Volunteer Consent
          =link_to("(view)")
          &nbsp;
          =link_to("(download)")
  .status_history
    %strong
      Status History:
    %ul
      %li.status_event.approved
        =image_tag("info_24.gif")
        Approved on mm/dd/yyyy
      %li.status_event.renewed
        =image_tag("info_24.gif")
        Renewed on mm/dd/yyyy
      %li.status_event.registered
        =image_tag("info_24.gif")
        Registered Patient on mm/dd/yyyy
      %li.status_event.registered
        =image_tag("info_24.gif")
        Registered Patient  on mm/dd/yyyy
      %li.status_event.adverse
        =image_tag("info_24.gif")
        Adverse Event on mm/dd/yyyy
      %li.status_event.reviewed
        =image_tag("info_24.gif")
        Reviewed on mm/dd/yyyy
.clear
  &nbsp;
