%h4= @subject.name
%p.sync= @subject.synced? ? image_tag("sync_icon_32.gif",:alt => "synced") : link_to(image_tag("mrn_sync_icon_32.gif",:alt=>"sync"), search_subjects_url(:subject=>@subject),:rel=>'facebox')
%p.mrn= "mrn: #{@subject.mrn}"
%p.dob= "dob: #{@subject.birth_date}"
- if @involvement
  %p.gender= "gender: #{@involvement.gender}"

-#studies
  Associated Studies:
  %ul
  - @involvements.each do |involvement|
    %li= link_to(involvement.study.name, study_path(@involvement.study))
#subject-events
  - if @involvement
    = link_to "Add event", new_involvement_event_path(:subject => @subject, :study => @involvement.study), :rel => 'facebox'
  Events:
  %ul
    - @involvement_events.each do |ie|
      = link_to("#{ie.term} on #{ie.involvement.study.name}", study_path(ie.involvement.study, :anchor => "events"))
