%h4= @subject.name
%p
  = "mrn: #{@subject.mrn}"
  = "dob: #{@subject.birth_date}"
  - if @involvement
    = "gender: #{@involvement.gender}"
-#studies
  Associated Studies:
  %ul
  - @involvements.each do |involvement|
    %li= link_to(involvement.study.name, study_path(involvement.study))
#events
  Events:
  %ul
    - @involvement_events.each do |ie|
      = ie.term
      on
      = link_to(ie.involvement.study.name, study_path(ie.involvement.study, :anchor => "events"))