%li
  = f.label :event_type_id, "Activity"
  = f.select :event_type_id, event_options(study.event_types, f.object.event_type.id), :include_blank => true
  -#= f.label      :note
  -#= f.text_field :note
  %br
  = f.label      :occurred_on, "On"
  = f.text_field :occurred_on, :class => 'date', :autocomplete => "off"
  %br
  = f.label      :note, "Note"
  = f.text_field :note, :autocomplete => "off"
