#involvement_detail
  #involvement_demographics
    #pane_menu
      #pane_actions
        -unless @involvement.study.read_only?
          =link_to "Edit",edit_involvement_path(@involvement),:rel=>"#edit_involvement"  
          =link_to "Delete",involvement_path(@involvement),:method=>'delete',:confirm => "You are about to delete this subject. Deleting will completely remove all of the subject's information from the study."
    - if @involvement.study.read_only?
      .patient_msg= "This patient record is part of a study that is managed in a different system. To edit this information you will need to go to the source system" 
    .subject
      %h4 Subject
      .case_number
        Case Number:
        = case_number_helper(@involvement.case_number)
      .mrn
        NMF MRN: 
        %span.bold
          = @involvement.subject.nmff_mrn || "None Given"
        %br
        NMH MRN:
        %span.bold
          = @involvement.subject.nmh_mrn || "None Given"
        %br
        RIC MRN:
        %span.bold
          = @involvement.subject.ric_mrn || "None Given"
      .full_name
        Name: 
        = subject_name_helper(@involvement.subject)
    .demographics
      %h4 Demographics
      .gender
        Gender:
        %span.bold
          = @involvement.gender
      .ethnicity
        Ethnicity:
        %span.bold
          = @involvement.ethnicity
      .race
        Race:
        %span.bold
          = @involvement.race
    .accrual
      %h4 Contact
      .address
        Address
        %span.bold
          =@involvement.address || "None Given"
      .home_phone
        Home Phone
        %span.bold
          =@involvement.home_phone || "None Given"
      .work_phone
        Work Phone
        %span.bold
          =@involvement.work_phone || "None Given"
      .cell_phone
        Cell Phone
        %span.bold
          =@involvement.cell_phone || "None Given"
      .email
        Email
        %span.bold
          =@involvement.email || "None Given"

