%li
  = f.hidden_field :id
  = f.label :event_type_id, "Activity"
  = f.select :event_type_id, event_options(f.object.event_type_id), :include_blank => true
  -# note taken out until it is requested
  -#= f.label      :note
  -#= f.text_field :note
%li
  = f.label      :occurred_on, "On"
  = f.text_field :occurred_on
