#pane_menu
  #pane_title
    -if @involvement.subject.name.eql?("(no name)") and !@involvement.case_number.blank?
      =@involvement.case_number
    -else
      =@involvement.subject.name
  #pane_actions
    -unless @involvement.study.read_only?
      =link_to "Edit",edit_involvement_path(@involvement),:rel=>"#edit_involvement"  
      =link_to "Delete",involvement_path(@involvement),:method=>'delete',:confirm => "You are about to delete this subject. Deleting will completely remove all of the subject's information from the study."
- if @involvement.study.read_only?
  .patient_msg= "This patient record is part of a study that is managed in a different system. To edit this information you will need to go to the source system" 
.section
  .section_heading Identifiers
  -unless @involvement.subject.name.eql?("(no name)") and !@involvement.case_number.blank?
    .case_number
      Case Number:
      = @involvement.case_number
  .mrn
    NMF MRN: 
    %span.bold
      = @involvement.subject.nmff_mrn
    %br
    NMH MRN:
    %span.bold
      = @involvement.subject.nmh_mrn 
    %br
    RIC MRN:
    %span.bold
      = @involvement.subject.ric_mrn 
  -if @involvement.subject.name.eql?("(no name)") and !@involvement.case_number.blank?
    .full_name
      Name: 
      = subject_name_helper(@involvement.subject)
.section
  .section_heading Demographics
  .gender
    Gender:
    %span.bold
      = @involvement.gender
  .ethnicity
    Ethnicity:
    %span.bold
      = @involvement.ethnicity
  .race
    Race:
    %span.bold
      = @involvement.race
.section
  .section_heading Contact
  .address
    Address
    %span.bold
      =@involvement.address 
  .home_phone
    Home Phone
    %span.bold
      =@involvement.home_phone
  .work_phone
    Work Phone
    %span.bold
      =@involvement.work_phone 
  .cell_phone
    Cell Phone
    %span.bold
      =@involvement.cell_phone 
  .email
    Email
    %span.bold
      =@involvement.email 

