%li{:class => "mrn"}
  = f.label :mrn, "MRN"
  = f.text_field :mrn
%li{:class => "last_name"}
  = f.label :last_name
  = f.text_field :last_name
%li{:class => "first_name"}
  = f.label :first_name
  = f.text_field :first_name
%li{:class => "middle_name"}
  = f.label :middle_name, "Middle (optional)"
  = f.text_field :middle_name
%li{:class => "birth_date"}
  = f.label :birth_date
  = f.text_field :birth_date
