- form_for(@involvement) do |f|
  = hidden_field_tag 'study[irb_number]', params[:study]
  .subject
    %h4 Subject
    %span.hint Case number OR all other fields required
    %ol
      %li.case_number
        = f.label      :case_number
        = f.text_field :case_number
      - f.fields_for :subject do |builder|
        = render 'subject_fields', :f => builder
  .demographics
    %h4 Demographics
    %span.hint Gender, ethnicity, race required
    %ol
      %li
        = f.label  :gender, "Gender"
        = f.select :gender, gender_options(@involvement.gender)
      %li
        = f.label  :ethnicity, "Ethnicity"
        = f.select :ethnicity, ethnicity_options(@involvement.ethnicity)
      %li
        = f.label  :race, "Race"
        - del_key = :race_is_unknown_or_not_reported
        -race_options(del_key).each do |k|
          %label{:for => "involvement_#{k}"}
            = f.check_box k
            = Involvement::RACE_ATTRIBUTES[k]
        &mdash; OR &mdash;
          
        %label{:for => "involvement_unknown_or_not_reported_race"}
          = f.check_box :unknown_or_not_reported_race
          = Involvement::RACE_ATTRIBUTES[del_key] # del_key is the attr... "unknown_or_not_reported" is the method

  .accrual
    %h4 Accrual
    %span.hint One activity required
    %ol
      - f.fields_for :involvement_events do |builder|
        = render 'involvement_event_fields', :f => builder
  .submit
    = f.submit "Save"
    or
    = link_to "Cancel", study_path(params[:study])
