- form_for(@involvement) do |f|
  = hidden_field_tag 'study[irb_number]', params[:study]
  .subject
    %h4 Subject
    %ol
      %li.case_number
        = f.label      :case_number
        = f.text_field :case_number
      - f.fields_for :subject do |builder|
        = render 'subject_fields', :f => builder
  .demographics
    %h4 Demographics
    %ol
      %li
        = f.label  :gender, "Gender"
        = f.select :gender, gender_options(@involvement.gender)
      %li
        = f.label  :ethnicity, "Ethnicity"
        = f.select :ethnicity, ethnicity_options(@involvement.ethnicity)
      %li
        = f.label  :race, "Race"
        = f.select :race, race_options(@involvement.race)
  .accrual
    %h4 Accrual
    %ol
      - f.fields_for :involvement_events do |builder|
        = render 'involvement_event_fields', :f => builder
  = f.submit "Save"
  or
  = link_to "Cancel", study_path(params[:study])