#show_involvement
  .patient_msg= "This patient record is part of a study that is managed in a different system. To edit this information you will need to go to the source system" if @involvement.study.read_only?
  .subject
    %h4 Subject
    %span.hint Case number OR all other fields required
    .case_number
      Case Number:
      = case_number_helper(@involvement.case_number)
    .mrn
      MRN: 
      = mrn_and_type_helper(@involvement.subject)
    .full_name
      Name: 
      = subject_name_helper(@involvement.subject)
  .demographics
    %h4 Demographics
    %span.hint Gender, ethnicity, race required for NIH reporting
    %ol
      %li
        Gender: 
        = @involvement.gender
      %li
        Ethnicity:
        = @involvement.ethnicity
      %li
        Race:
        = @involvement.race
  .accrual
    %h4 Accrual
    %span.hint Clinical Events (consent, completed, withdrawn)
    Events:
    %ul
      - @involvement.involvement_events.each do |inv|
        %li
          = inv.event
          &mdash;
          = inv.occurred_on


