- if @user
  %p= "Roles for #{@user.netid}"
  %p
    - @user.roles.each do |role|
      = link_to role.study.irb_number, study_path(role.study)
      = [role.project_role, role.consent_role].compact.join(", ")
      %br
- else
  %p.center= "netID \"#{params[:id]}\" not found"