- form_tag(reports_path) do
  = hidden_field_tag 'study[irb_number]', params[:study]
  %h3= "Exporting Subjects in Study ##{params[:study]}"
  %p Select Attributes
  %p 
    - ['mrn','first_name','last_name','birth_date'].each do |val|
      = check_box_tag "subject[]",val
      = label_tag "subject[]",val.titleize
      %br
    = check_box_tag "involvement[attributes][]",'case_number'
    = label_tag "involvement[attributes][]","Case Number"
    %br
    - ['ethnicity','gender','race_list'].each do |meth|
      = check_box_tag "involvement[methods][]",meth
      = label_tag "involvement[methods][]",meth.titleize
      %br
    = check_box_tag "event[methods][]",'event_type'
    = label_tag "event[methods][]","Event Type"
    %br
    = check_box_tag  "event[attributes][]",'occurred_on'
    = label_tag "event[attributes][]"," Event Date"
  %p
    = label_tag "format","File Format"
    = select_tag('format',options_for_select([["PDF","pdf"],["CSV","csv"]]))
  %p= submit_tag("Export Data")

    
