%ul.tabs
  %li= link_to "About", "#about", :class => "current"
  %li= link_to "Training", "#training"
  %li= link_to "FAQ", "#questions"
.panes
  .items
    #about.item
      %h2
        eNOTIS is the subject registration system for all IRB-approved 
        %br
        clinical research at Northwestern University
      .col
        %h3 Measure
        = image_tag 'measure-dates.jpg'
        %h4 Developed in collaboration with the clinical research community
        %h4 Add subjects to your study and track key clinical events: consent, withdrawal, completion
        %h3= "#{number_with_delimiter @studies_count} studies with #{number_with_delimiter @accrual_count} accruals"
        %h3= "#{number_with_delimiter @users_count} active users"
      .col
        %h3 See
        = image_tag 'see-race.jpg'
        %h4 Visualize accrual for all your studies in one place
        %h4 Print or export your enrollment for reports
        %h4 eNOTIS meets recent FDA guidelines on electronic reporting and addresses a mandate that accrual information be tracked, validated and reported periodically to clinicaltrials.gov
      .col
        %h3 Improve
        = image_tag 'improve-accruals.jpg'
        %h4 Make informed decisions about your research 
        %h4 Ensure subject safety by verifying their participation in other trials 
        %h4 Spend less time entering and tracking data by hand: studies are pre-loaded from eIRB and subject identity verified via NU Enterprise Data Warehouse (EDW)
        
    #training.item
      .col3
        %h2 Watch our 4 minute introduction to eNOTIS
        %a{:href => "/media/enotis-tutorial-a.mov", :style => "display:block;width:550px;height:386px;", :id => "player"}
        -# = image_tag 'coordinator_workflow.jpg'
      .colx
        %h3
          Need support?
          %br
          = mail_to 'enotissupport@northwestern.edu'
          %br
          = link_to "(312) 857-3141", 'tel:1-312-857-3141'
        %h3
          Interested in a demo or training?
          %br
          = mail_to 'enotis@northwestern.edu'
    #questions.item
      = render :partial => 'partials/faq'

  -#system_status{:class => @status}
    .heading System status
    %p= ApplicationController::SYSTEM_STATUSES[@status.to_sym]