!!! XML
!!!
%html
  %head
    %title= "eNOTIS :: #{@title}"
    = stylesheet_link_tag "compiled/admin"
    = javascript_include_tag "tools/jquery.tools.min.js", "tools/jquery.dataTables.min", "tools/jquery.sessionTimeout", "jquery.admin", :cache => "cache/admin"
    = auto_session_timeout_js(:frequency => 60) if logged_in?
    = yield :head
  %body
    #container
      #header
        - unless Rails.env.production?
          #environment{:class => Rails.env}= Rails.env.upcase
        #app_name= image_tag("enotis-swoop-logo.png",:alt => "eNOTIS")
        #current_user_badge
          = "#{current_user.name} (#{current_user.netid})"
          |
          = link_to('Logout', logout_path)
        #search_box
          = link_to "&laquo; back to enotis".html_safe, default_path
        - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
          #flash
            = flash_messages(types)
            .close
      #main
        #livesearch-results
        = yield
      #footer
        %p!= "eNOTIS #{app_version_helper} &mdash; created by #{link_to("NUBIC", "http://www.nucats.northwestern.edu/centers/nubic")} for Northwestern University"
      #session-expire.overlay
        %b your session is about to expire