!!! XML
!!!
%html
  %head
    %title= "eNOTIS :: #{@title}"
    = stylesheet_link_tag "compiled/admin"
    = javascript_include_tag "jquery.tools.min.js", "jquery.dataTables.min", "jquery.periodicalupdater", :cache => "cache/admin"
    = auto_session_timeout_js(:frequency => 60) if logged_in?
    = yield :head
  %body
    #container
      #header
        #app_name= image_tag("enotis-swoop-logo.png",:alt => "eNOTIS")
        #search_box
          = link_to "&laquo; back to enotis", default_path
        #current_user_badge
          = "#{current_user.name} (#{current_user.netid})"
          |
          = link_to('Logout', logout_path)
      - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
        #flash= flash_messages(types)
      #main
        #livesearch-results
        = yield
      #footer
        %p= "eNOTIS #{app_version_helper} &mdash; created by #{link_to("NUBIC", "http://www.nucats.northwestern.edu/centers/nubic")} for Northwestern University"
      #session-expire.overlay
        %b your session is about to expire