!!! XML
!!!
%html
  %head
    %title= "eNotis :: #{@title}"
    = stylesheet_link_tag(@view_stylesheets ||= ["compiled/application", "compiled/main"])
    = javascript_include_tag(@view_javascripts ||= ["jquery.tools.min.js", "jquery-ui-1.7.2.min" ,"jrails", "jquery.dataTables.min", "jquery.main", "jquery.periodicalupdater", "jquery.liveSearch"]) 
    = yield :head
  %body
    = auto_session_timeout_js(:frequency => 60) if logged_in?
    #container
      #header
        %span.app_name= image_tag("enotis-outline-logo.png",:alt => "eNOTIS")
      #current_user_badge
        = "#{current_user.name} (#{current_user.netid})"
        |
        = link_to('Logout', logout_authentication_path)
      #bridge-nav
        %ul
          %li{:class => nav_class(UsersController)}
            = link_to "Dashboard", dashboard_path
          %li{:class => nav_class(StudiesController)}
            = link_to "All Studies", studies_path
          %li{:class => nav_class(SubjectsController)}
            = link_to "My Subjects", subjects_path
          %li{:class => nav_class(InvolvementEventsController)}
            = link_to "My Events", involvement_events_path
          %li{:class => "search #{nav_class(SearchController)}"}
            = link_to "Search", search_path
            - form_tag(search_path, :method => :get) do 
              = text_field_tag("query")
              = submit_tag("Search")
      - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
        #flash= flash_messages(types)
      #main
        #livesearch-results
        = yield
      #footer
        %p= "eNOTIS #{app_version_helper} &mdash; created by #{link_to("NUBIC", "http://www.nucats.northwestern.edu/centers/nubic")} for Northwestern University"
      #overlay.overlay
        .contentWrap
      #session-expire.overlay
        %b your session is about to expire
