!!! XML
!!!
%html
  %head
    %title= "eNOTIS :: #{@title}"
    = stylesheet_link_tag(@view_stylesheets ||= ["compiled/main"])
    = javascript_include_tag(@view_javascripts ||= ["jquery.tools.min.js", "jquery.dataTables.min", "jquery.main", "jquery.periodicalupdater", "jquery.liveSearch"]) 
    = auto_session_timeout_js(:frequency => 60) if logged_in?
    = yield :head
  %body
    #container
      #header
        #app_name= link_to_unless_current image_tag("enotis-swoop-logo.png", :alt => "eNOTIS"), default_path, :title => "eNOTIS Home"
        #current_user_badge
          = "#{current_user.name} (#{current_user.netid})"
          |
          = link_to('Logout', logout_path)
        %br{:style => "clear: right"}
        #search_box
          - form_tag(search_path, :method => :get) do 
            = text_field_tag("query")
            = submit_tag("Search")
      - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
        #flash
          = flash_messages(types)
          .close
      #main
        #livesearch-results
        = yield
      #footer
        %p= "eNOTIS #{app_version_helper} &mdash; created by #{link_to("NUBIC", "http://www.nucats.northwestern.edu/centers/nubic")} for Northwestern University"
      #session-expire.overlay
        %b your session is about to expire
