!!! XML
!!!
%html
  %head
    %title= "eNOTIS :: #{@title}"
    = stylesheet_link_tag "compiled/main"
    = javascript_include_tag "tools/jquery.tools.min", "tools/jquery.dataTables.min", "tools/underscore-min", "tools/jquery.treeTable.min","jquery.main", :cache => "cache/main"
    = yield :head
  %body
    #container
      #header
        #header_top
          #current_user_badge
            = "#{current_user.name} (#{current_user.netid})"
            |
            = link_to "Help, SPRV, and FAQ", help_path
            |
            = link_to('Logout', "/logout")
        - unless Rails.env.production?
          #environment{:class => Rails.env}= Rails.env.upcase
        #app_name= link_to_unless_current image_tag("enotis-safe_small.png", :alt => "eNOTIS"), default_path, :title => "eNOTIS Home"
        %br{:style => "clear: right"}
        #search_box
          - form_tag(search_path, :method => :get) do 
            = text_field_tag("query")
            = submit_tag("Search")
        - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
          #flash
            = flash_messages(types)
            .close
      #main
        #livesearch-results
        = yield
      #footer
        %p!= "eNOTIS #{app_version_helper} &mdash; created by #{link_to("NUBIC", "http://www.nucats.northwestern.edu/clinical-research-resources/data-collection-biomedical-informatics-and-nubic")} for Northwestern University"
      #session-expire.overlay
        %b You have been idle for over 5 minutes. After 30 mins, you will be redirected to the studies page. Please remember to log out when you are done.
