!!! XML
!!!
%html
  %head
    %title= "eNOTIS"
    = stylesheet_link_tag "compiled/public"
    = javascript_include_tag "jquery.tools.min.js"
    = yield :head
  %body
    #container
      #header
        - unless Rails.env.production?
          #environment{:class => Rails.env}= Rails.env.upcase
        #app_name= link_to_unless_current image_tag("enotis-swoop-logo.png", :alt => "eNOTIS"), default_path, :title => "eNOTIS Home"
        #login
          - form_tag(auth_path, :method => 'post') do
            %label{:for => 'netid'} NetID
            = text_field_tag('netid')
            %br
            %label{:for => 'password'} Password
            = password_field_tag('password')
            %br
            = link_to "I cannot access my account", login_help_path, :rel => "#help"
            = submit_tag('login')
        - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
          #flash
            = flash_messages(types)
            .close
      #main
        =yield
      #footer
        .nulogo= link_to image_tag("nu_logo.gif"), "http://www.northwestern.edu"
        .fsmlogo= link_to image_tag("fsm-logo.gif"), "http://www.feinberg.northwestern.edu"
        .nucatslogo= link_to image_tag("nucats_logo.gif"), "http://www.nucats.northwestern.edu"
        .nubiclogo= link_to image_tag("nubic_logo.gif"), "http://www.nucats.northwestern.edu/centers/nubic"
        %p.version= "eNOTIS #{app_version_helper} &mdash; created by #{link_to("NUBIC", "http://www.nucats.northwestern.edu/centers/nubic")} for Northwestern University"
      #help.overlay
        .contentWrap
    :plain
      <script type="text/javascript">
      
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-17944357-3']);
       _gaq.push(['_trackPageview']);
      
       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
      
      </script>





