!!! XML
!!!
%html
  %head
    %title= "eCapture"
    =stylesheet_link_tag("compiled/public_surveyor")
    =surveyor_javascripts
  %body
    #container
      #header
        - unless RAILS_ENV == "production"
          #environment{:class => RAILS_ENV}= RAILS_ENV.upcase
        #header_wrap
          - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
            #flash
              #message
                = flash_messages(types)
        #header_left_home
          #logo
            = image_tag("large_nu_logo.gif")
        #survey_title
          =@survey.title unless @survey.nil? 
      #main
        =yield
    #footer
      #nascar
        .nulogo= image_tag("nu_logo.gif")
        .nucatslogo= image_tag("nucats_logo.gif")
        .nubiclogo= image_tag("nubic_logo.gif")
        %p.version= "created by #{link_to("NUBIC", "http://www.nucats.northwestern.edu/centers/nubic")} for Northwestern University and powered by #{link_to("Surveyor","https://github.com/breakpointer/surveyor")}"
