!!! XML
!!!
%html
  %head
    %title= "eNOTIS :: #{@title}"
    = stylesheet_link_tag "compiled/main"
    = yield :head
  %body
    #container
      #header
        - unless Rails.env.production?
          #environment{:class => Rails.env}= Rails.env.upcase
        #app_name= link_to_unless_current image_tag("enotis-safe.png", :alt => "eNOTIS"), default_path, :title => "eNOTIS Home"
        #current_user_badge
          = "#{current_user.name} (#{current_user.netid})"
          |
          = link_to('Logout', "/logout")
        %br{:style => "clear: right"}
        - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
          #flash
            = flash_messages(types)
            .close
      #main
        = yield
      #footer
        %p!= "eNOTIS #{app_version_helper} &mdash; created by #{link_to("NUBIC", "http://www.nucats.northwestern.edu/clinical-research-resources/data-collection-biomedical-informatics-and-nubic")} for Northwestern University"
      #session-expire.overlay
        %b You have been idle for over 5 minutes. After 30 mins, you will be redirected to the studies page. Please remember to log out when you are done.